In [87]:
import os
import pandas as pd

In [88]:
csvpath = os.path.join('..','data','dpe.csv')

df = pd.read_csv(csvpath, sep=';', engine='python')

In [89]:
df.head()

,N°DPE,Date_réception_DPE,Date_établissement_DPE,Date_visite_diagnostiqueur,Modèle_DPE,N°_DPE_remplacé,Date_fin_validité_DPE,Version_DPE,Appartement_non_visité_(0/1),Méthode_application_DPE,...,Coût_refroidissement,Coût_refroidissement_dépensier,Coût_auxiliaires,Qualité_isolation_enveloppe,Qualité_isolation_menuiseries,Qualité_isolation_murs,Qualité_isolation_plancher_bas,Ubat_W/m²_K,Qualité_isolation_plancher_haut_comble_aménagé,Catégorie_ENR
0,2133N0419762I,30/09/2021,29/09/2021,29/09/2021,DPE NEUF logement : RT2012,NaN,28/09/2031,1,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"10,6",bonne,très bonne,très bonne,bonne,"0,52",NaN,NaN
1,2131N0244530O,01/09/2021,01/09/2021,01/09/2021,DPE NEUF logement : RT2012,NaN,31/08/2031,1,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,0,très bonne,très bonne,très bonne,très bonne,"0,37",NaN,NaN
2,2164N0719648P,18/11/2021,18/11/2021,09/11/2021,DPE NEUF logement : RT2012,NaN,17/11/2031,"1,1",FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"4,7",bonne,très bonne,bonne,bonne,"0,47",NaN,NaN
3,2157N0987911D,24/12/2021,23/12/2021,21/12/2021,DPE NEUF logement : RT2012,NaN,22/12/2031,2,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,3,très bonne,très bonne,très bonne,très bonne,"0,34",NaN,chauffe-eau thermodynamique
4,2163N0927480C,16/12/2021,09/12/2021,16/11/2021,DPE NEUF logement : RT2012,NaN,08/12/2031,"1,1",FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"14,1",bonne,très bonne,très bonne,bonne,"0,63",NaN,NaN

In [90]:
df.describe()

,Nombre_appartement,Nombre_niveau_immeuble,Nombre_niveau_logement,Code_postal_(BAN),Code_postal_(brut),N°_étage_appartement,N°_région_(BAN)
count,8933.000000,8812.000000,8499.000000,9947.000000,10000.000000,2372.000000,9942.000000
mean,34.530953,1.002951,1.079303,56998.606313,56935.612800,0.121417,50.201971
std,47.668722,0.091596,0.512557,27709.196039,27765.895414,0.624615,30.472674
min,1.000000,1.000000,1.000000,1000.000000,0.000000,0.000000,2.000000
25%,2.000000,1.000000,1.000000,33670.000000,33670.000000,0.000000,11.000000
50%,22.000000,1.000000,1.000000,59970.000000,59885.000000,0.000000,52.000000
75%,43.000000,1.000000,1.000000,80000.000000,80000.000000,0.000000,76.000000
max,333.000000,6.000000,9.000000,97436.000000,95870.000000,9.000000,94.000000

In [91]:
df.shape

(10000, 99)

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 99 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   N°DPE                                           10000 non-null  object
 1   Date_réception_DPE                              10000 non-null  object
 2   Date_établissement_DPE                          10000 non-null  object
 3   Date_visite_diagnostiqueur                      10000 non-null  object
 4   Modèle_DPE                                      10000 non-null  object
 5   N°_DPE_remplacé                                 110 non-null    object
 6   Date_fin_validité_DPE                           10000 non-null  object
 7   Version_DPE                                     10000 non-null  object
 8   Appartement_non_visité_(0/1)                    8988 non-null   object
 9   Méthode_application_DPE                         10000 non-null  object
 10  Invariant_fiscal_logement                       838 non-null    object
 11  Etiquette_DPE                                   10000 non-null  object
 12  Etiquette_GES                                   10000 non-null  object
 13  Type_bâtiment                                   10000 non-null  object
 14  Type_installation_chauffage                     6783 non-null   object
 15  Type_installation_ECS_(général)                 6783 non-null   object
 16  Hauteur_sous-plafond                            10000 non-null  object
 17  Nombre_appartement                              8933 non-null   float64
 18  Nombre_niveau_immeuble                          8812 non-null   float64
 19  Nombre_niveau_logement                          8499 non-null   float64
 20  Surface_habitable_immeuble                      8772 non-null   object
 21  Surface_habitable_logement                      9955 non-null   object
 22  Typologie_logement                              1495 non-null   object
 23  Position_logement_dans_immeuble                 1495 non-null   object
 24  Classe_altitude                                 2751 non-null   object
 25  Zone_climatique_                                2751 non-null   object
 26  Adresse_brute                                   9999 non-null   object
 27  Nom__commune_(BAN)                              9947 non-null   object
 28  Code_INSEE_(BAN)                                9947 non-null   object
 29  N°_voie_(BAN)                                   4499 non-null   object
 30  Identifiant__BAN                                9947 non-null   object
 31  Adresse_(BAN)                                   9947 non-null   object
 32  Code_postal_(BAN)                               9947 non-null   float64
 33  Score_BAN                                       9947 non-null   object
 34  Nom__rue_(BAN)                                  7950 non-null   object
 35  Coordonnée_cartographique_X_(BAN)               9947 non-null   object
 36  Coordonnée_cartographique_Y_(BAN)               9947 non-null   object
 37  Code_postal_(brut)                              10000 non-null  int64
 38  N°_étage_appartement                            2372 non-null   float64
 39  Nom_résidence                                   192 non-null    object
 40  Complément_d'adresse_logement                   651 non-null    object
 41  Statut_géocodage                                10000 non-null  object
 42  Nom__commune_(Brut)                             9992 non-null   object
 43  N°_département_(BAN)                            9942 non-null   object
 44  N°_région_(BAN)                                 9942 non-null   float64
 45  Conso_5_usages_é_finale                         10000 non-null  object
 46  Conso_5_usages/m²_é_finale                      10000 non-null  object
 47  Conso_chauffage_é_finale                        10000 non-null  object
 48  Conso_chauffage_dépensier_é_finale              10000 non-null  object
 49  Conso_éclairage_é_finale                        10000 non-null  object
 50  Conso_ECS_é_finale                              10000 non-null  object
 51  Conso_ECS_dépensier_é_finale                    10000 non-null  object
 52  Conso_refroidissement_é_finale                  10000 non-null  object
 53  Conso_refroidissement_dépensier_é_finale        10000 non-null  object
 54  Conso_auxiliaires_é_finale                      10000 non-null  object
 55  Conso_5_usages_é_primaire                       10000 non-null  object
 56  Conso_5_usages_par_m²_é_primaire                10000 non-null  object
 57  Conso_chauffage_é_primaire                      10000 non-null  object
 58  Conso_chauffage_dépensier_é_primaire            10000 non-null  object
 59  Conso_éclairage_é_primaire                      10000 non-null  object
 60  Conso_ECS_é_primaire                            10000 non-null  object
 61  Conso_ECS_dépensier_é_primaire                  10000 non-null  object
 62  Conso_refroidissement_é_primaire                10000 non-null  object
 63  Conso_refroidissement_dépensier_é_primaire      10000 non-null  object
 64  Conso_auxiliaires_é_primaire                    10000 non-null  object
 65  Emission_GES_5_usages                           10000 non-null  object
 66  Emission_GES_5_usages_par_m²                    10000 non-null  object
 67  Emission_GES_chauffage                          10000 non-null  object
 68  Emission_GES_chauffage_dépensier                10000 non-null  object
 69  Emission_GES_éclairage                          10000 non-null  object
 70  Emission_GES_ECS                                10000 non-null  object
 71  Emission_GES_ECS_dépensier                      10000 non-null  object
 72  Emission_GES_refroidissement                    10000 non-null  object
 73  Emission_GES_refroidissement_dépensier          10000 non-null  object
 74  Emission_GES_auxiliaires                        10000 non-null  object
 75  Coût_chauffage_énergie_n°1                      10000 non-null  object
 76  Coût_ECS_énergie_n°1                            10000 non-null  object
 77  Emission_GES_5_usages_énergie_n°1               10000 non-null  object
 78  Type_énergie_n°1                                10000 non-null  object
 79  Coût_chauffage_énergie_n°2                      7303 non-null   object
 80  Coût_ECS_énergie_n°2                            7303 non-null   object
 81  Emission_GES_5_usages_énergie_n°2               7303 non-null   object
 82  Type_énergie_n°2                                7303 non-null   object
 83  Coût_total_5_usages                             10000 non-null  object
 84  Coût_chauffage                                  10000 non-null  object
 85  Coût_chauffage_dépensier                        10000 non-null  object
 86  Coût_éclairage                                  10000 non-null  object
 87  Coût_ECS_dépensier                              10000 non-null  object
 88  Coût_ECS                                        10000 non-null  object
 89  Coût_refroidissement                            10000 non-null  object
 90  Coût_refroidissement_dépensier                  10000 non-null  object
 91  Coût_auxiliaires                                10000 non-null  object
 92  Qualité_isolation_enveloppe                     10000 non-null  object
 93  Qualité_isolation_menuiseries                   10000 non-null  object
 94  Qualité_isolation_murs                          10000 non-null  object
 95  Qualité_isolation_plancher_bas                  9982 non-null   object
 96  Ubat_W/m²_K                                     10000 non-null  object
 97  Qualité_isolation_plancher_haut_comble_aménagé  610 non-null    object
 98  Catégorie_ENR                                   1221 non-null   object
dtypes: float64(6), int64(1), object(92)
memory usage: 7.6+ MB

In [93]:
df.isna().sum()

N°DPE                                                0
Date_réception_DPE                                   0
Date_établissement_DPE                               0
Date_visite_diagnostiqueur                           0
Modèle_DPE                                           0
                                                  ...
Qualité_isolation_murs                               0
Qualité_isolation_plancher_bas                      18
Ubat_W/m²_K                                          0
Qualité_isolation_plancher_haut_comble_aménagé    9390
Catégorie_ENR                                     8779
Length: 99, dtype: int64

**Remove columns with Nan values**

In [94]:
columns_values = df.isna().sum().values

drop_columns_index = [i for i, val in enumerate(columns_values) if val > 9900]

print(len(drop_columns_index))

0

In [95]:
# def removeNuffs(dataframe, axis = 1, percent = 0.3):
#     df = dataframe.copy()
#     ishape = 0
#     if axis == 0:
#         rownames = df.transpose().isnull().sum()
#         rownames = list(rownames[rownames.values > percent*len(df)].index)
#         df.drop(df.index[rownames], inplace=True)
#         print("Number of rows dropped : ", len(rownames))
#     else:
#         colnames = (df.isnull().sum()/len(df))
#         colnames = list(colnames[colnames.values>=percent].index)
#         df.drop(labels = colnames, axis = 1, inplace = True)
#         print("Number of columns dropped : ", len(colnames))
#     print("Old dataset rows, columns ", ishape, " New dataset rows, columns ", df.shape)

In [96]:
df_test = df.copy()
ishape = 0
percent = 0.3

colnames = (df_test.isnull().sum()/len(df_test))
colnames = list(colnames[colnames.values>=percent].index)

In [97]:
df_test.drop(labels = colnames, axis = 1, inplace = True)

In [98]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 85 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   N°DPE                                       10000 non-null  object
 1   Date_réception_DPE                          10000 non-null  object
 2   Date_établissement_DPE                      10000 non-null  object
 3   Date_visite_diagnostiqueur                  10000 non-null  object
 4   Modèle_DPE                                  10000 non-null  object
 5   Date_fin_validité_DPE                       10000 non-null  object
 6   Version_DPE                                 10000 non-null  object
 7   Appartement_non_visité_(0/1)                8988 non-null   object
 8   Méthode_application_DPE                     10000 non-null  object
 9   Etiquette_DPE                               10000 non-null  object
 10  Etiquette_GES                               10000 non-null  object
 11  Type_bâtiment                               10000 non-null  object
 12  Hauteur_sous-plafond                        10000 non-null  object
 13  Nombre_appartement                          8933 non-null   float64
 14  Nombre_niveau_immeuble                      8812 non-null   float64
 15  Nombre_niveau_logement                      8499 non-null   float64
 16  Surface_habitable_immeuble                  8772 non-null   object
 17  Surface_habitable_logement                  9955 non-null   object
 18  Adresse_brute                               9999 non-null   object
 19  Nom__commune_(BAN)                          9947 non-null   object
 20  Code_INSEE_(BAN)                            9947 non-null   object
 21  Identifiant__BAN                            9947 non-null   object
 22  Adresse_(BAN)                               9947 non-null   object
 23  Code_postal_(BAN)                           9947 non-null   float64
 24  Score_BAN                                   9947 non-null   object
 25  Nom__rue_(BAN)                              7950 non-null   object
 26  Coordonnée_cartographique_X_(BAN)           9947 non-null   object
 27  Coordonnée_cartographique_Y_(BAN)           9947 non-null   object
 28  Code_postal_(brut)                          10000 non-null  int64
 29  Statut_géocodage                            10000 non-null  object
 30  Nom__commune_(Brut)                         9992 non-null   object
 31  N°_département_(BAN)                        9942 non-null   object
 32  N°_région_(BAN)                             9942 non-null   float64
 33  Conso_5_usages_é_finale                     10000 non-null  object
 34  Conso_5_usages/m²_é_finale                  10000 non-null  object
 35  Conso_chauffage_é_finale                    10000 non-null  object
 36  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 37  Conso_éclairage_é_finale                    10000 non-null  object
 38  Conso_ECS_é_finale                          10000 non-null  object
 39  Conso_ECS_dépensier_é_finale                10000 non-null  object
 40  Conso_refroidissement_é_finale              10000 non-null  object
 41  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 42  Conso_auxiliaires_é_finale                  10000 non-null  object
 43  Conso_5_usages_é_primaire                   10000 non-null  object
 44  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 45  Conso_chauffage_é_primaire                  10000 non-null  object
 46  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 47  Conso_éclairage_é_primaire                  10000 non-null  object
 48  Conso_ECS_é_primaire                        10000 non-null  object
 49  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 50  Conso_refroidissement_é_primaire            10000 non-null  object
 51  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 52  Conso_auxiliaires_é_primaire                10000 non-null  object
 53  Emission_GES_5_usages                       10000 non-null  object
 54  Emission_GES_5_usages_par_m²                10000 non-null  object
 55  Emission_GES_chauffage                      10000 non-null  object
 56  Emission_GES_chauffage_dépensier            10000 non-null  object
 57  Emission_GES_éclairage                      10000 non-null  object
 58  Emission_GES_ECS                            10000 non-null  object
 59  Emission_GES_ECS_dépensier                  10000 non-null  object
 60  Emission_GES_refroidissement                10000 non-null  object
 61  Emission_GES_refroidissement_dépensier      10000 non-null  object
 62  Emission_GES_auxiliaires                    10000 non-null  object
 63  Coût_chauffage_énergie_n°1                  10000 non-null  object
 64  Coût_ECS_énergie_n°1                        10000 non-null  object
 65  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 66  Type_énergie_n°1                            10000 non-null  object
 67  Coût_chauffage_énergie_n°2                  7303 non-null   object
 68  Coût_ECS_énergie_n°2                        7303 non-null   object
 69  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 70  Type_énergie_n°2                            7303 non-null   object
 71  Coût_total_5_usages                         10000 non-null  object
 72  Coût_chauffage                              10000 non-null  object
 73  Coût_chauffage_dépensier                    10000 non-null  object
 74  Coût_éclairage                              10000 non-null  object
 75  Coût_ECS_dépensier                          10000 non-null  object
 76  Coût_ECS                                    10000 non-null  object
 77  Coût_refroidissement                        10000 non-null  object
 78  Coût_refroidissement_dépensier              10000 non-null  object
 79  Coût_auxiliaires                            10000 non-null  object
 80  Qualité_isolation_enveloppe                 10000 non-null  object
 81  Qualité_isolation_menuiseries               10000 non-null  object
 82  Qualité_isolation_murs                      10000 non-null  object
 83  Qualité_isolation_plancher_bas              9982 non-null   object
 84  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 6.5+ MB

In [99]:
list_columns = list(df_test.columns.values.tolist())

print(len(list_columns))

85

In [100]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 85 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   N°DPE                                       10000 non-null  object
 1   Date_réception_DPE                          10000 non-null  object
 2   Date_établissement_DPE                      10000 non-null  object
 3   Date_visite_diagnostiqueur                  10000 non-null  object
 4   Modèle_DPE                                  10000 non-null  object
 5   Date_fin_validité_DPE                       10000 non-null  object
 6   Version_DPE                                 10000 non-null  object
 7   Appartement_non_visité_(0/1)                8988 non-null   object
 8   Méthode_application_DPE                     10000 non-null  object
 9   Etiquette_DPE                               10000 non-null  object
 10  Etiquette_GES                               10000 non-null  object
 11  Type_bâtiment                               10000 non-null  object
 12  Hauteur_sous-plafond                        10000 non-null  object
 13  Nombre_appartement                          8933 non-null   float64
 14  Nombre_niveau_immeuble                      8812 non-null   float64
 15  Nombre_niveau_logement                      8499 non-null   float64
 16  Surface_habitable_immeuble                  8772 non-null   object
 17  Surface_habitable_logement                  9955 non-null   object
 18  Adresse_brute                               9999 non-null   object
 19  Nom__commune_(BAN)                          9947 non-null   object
 20  Code_INSEE_(BAN)                            9947 non-null   object
 21  Identifiant__BAN                            9947 non-null   object
 22  Adresse_(BAN)                               9947 non-null   object
 23  Code_postal_(BAN)                           9947 non-null   float64
 24  Score_BAN                                   9947 non-null   object
 25  Nom__rue_(BAN)                              7950 non-null   object
 26  Coordonnée_cartographique_X_(BAN)           9947 non-null   object
 27  Coordonnée_cartographique_Y_(BAN)           9947 non-null   object
 28  Code_postal_(brut)                          10000 non-null  int64
 29  Statut_géocodage                            10000 non-null  object
 30  Nom__commune_(Brut)                         9992 non-null   object
 31  N°_département_(BAN)                        9942 non-null   object
 32  N°_région_(BAN)                             9942 non-null   float64
 33  Conso_5_usages_é_finale                     10000 non-null  object
 34  Conso_5_usages/m²_é_finale                  10000 non-null  object
 35  Conso_chauffage_é_finale                    10000 non-null  object
 36  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 37  Conso_éclairage_é_finale                    10000 non-null  object
 38  Conso_ECS_é_finale                          10000 non-null  object
 39  Conso_ECS_dépensier_é_finale                10000 non-null  object
 40  Conso_refroidissement_é_finale              10000 non-null  object
 41  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 42  Conso_auxiliaires_é_finale                  10000 non-null  object
 43  Conso_5_usages_é_primaire                   10000 non-null  object
 44  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 45  Conso_chauffage_é_primaire                  10000 non-null  object
 46  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 47  Conso_éclairage_é_primaire                  10000 non-null  object
 48  Conso_ECS_é_primaire                        10000 non-null  object
 49  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 50  Conso_refroidissement_é_primaire            10000 non-null  object
 51  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 52  Conso_auxiliaires_é_primaire                10000 non-null  object
 53  Emission_GES_5_usages                       10000 non-null  object
 54  Emission_GES_5_usages_par_m²                10000 non-null  object
 55  Emission_GES_chauffage                      10000 non-null  object
 56  Emission_GES_chauffage_dépensier            10000 non-null  object
 57  Emission_GES_éclairage                      10000 non-null  object
 58  Emission_GES_ECS                            10000 non-null  object
 59  Emission_GES_ECS_dépensier                  10000 non-null  object
 60  Emission_GES_refroidissement                10000 non-null  object
 61  Emission_GES_refroidissement_dépensier      10000 non-null  object
 62  Emission_GES_auxiliaires                    10000 non-null  object
 63  Coût_chauffage_énergie_n°1                  10000 non-null  object
 64  Coût_ECS_énergie_n°1                        10000 non-null  object
 65  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 66  Type_énergie_n°1                            10000 non-null  object
 67  Coût_chauffage_énergie_n°2                  7303 non-null   object
 68  Coût_ECS_énergie_n°2                        7303 non-null   object
 69  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 70  Type_énergie_n°2                            7303 non-null   object
 71  Coût_total_5_usages                         10000 non-null  object
 72  Coût_chauffage                              10000 non-null  object
 73  Coût_chauffage_dépensier                    10000 non-null  object
 74  Coût_éclairage                              10000 non-null  object
 75  Coût_ECS_dépensier                          10000 non-null  object
 76  Coût_ECS                                    10000 non-null  object
 77  Coût_refroidissement                        10000 non-null  object
 78  Coût_refroidissement_dépensier              10000 non-null  object
 79  Coût_auxiliaires                            10000 non-null  object
 80  Qualité_isolation_enveloppe                 10000 non-null  object
 81  Qualité_isolation_menuiseries               10000 non-null  object
 82  Qualité_isolation_murs                      10000 non-null  object
 83  Qualité_isolation_plancher_bas              9982 non-null   object
 84  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 6.5+ MB

In [101]:
delete_columns = ['N°DPE', 'Date_réception_DPE', 'Date_établissement_DPE', 'Date_visite_diagnostiqueur',
               'Date_fin_validité_DPE', 'Adresse_brute', 'Nom__commune_(BAN)', 'Code_INSEE_(BAN)', 'N°_région_(BAN)',
                'Identifiant__BAN', 'Adresse_(BAN)', 'Code_postal_(BAN)', 'Nom__rue_(BAN)', 'Coordonnée_cartographique_X_(BAN)',
                'Coordonnée_cartographique_Y_(BAN)', 'Code_postal_(brut)', 'N°_département_(BAN)', 'Statut_géocodage',
                'Nom__commune_(Brut)', 'N°_département_(BAN)', 'N°_région_(BAN)']

In [102]:
df_test.drop(labels = delete_columns, axis = 1, inplace = True)

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 66 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Modèle_DPE                                  10000 non-null  object
 1   Version_DPE                                 10000 non-null  object
 2   Appartement_non_visité_(0/1)                8988 non-null   object
 3   Méthode_application_DPE                     10000 non-null  object
 4   Etiquette_DPE                               10000 non-null  object
 5   Etiquette_GES                               10000 non-null  object
 6   Type_bâtiment                               10000 non-null  object
 7   Hauteur_sous-plafond                        10000 non-null  object
 8   Nombre_appartement                          8933 non-null   float64
 9   Nombre_niveau_immeuble                      8812 non-null   float64
 10  Nombre_niveau_logement                      8499 non-null   float64
 11  Surface_habitable_immeuble                  8772 non-null   object
 12  Surface_habitable_logement                  9955 non-null   object
 13  Score_BAN                                   9947 non-null   object
 14  Conso_5_usages_é_finale                     10000 non-null  object
 15  Conso_5_usages/m²_é_finale                  10000 non-null  object
 16  Conso_chauffage_é_finale                    10000 non-null  object
 17  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 18  Conso_éclairage_é_finale                    10000 non-null  object
 19  Conso_ECS_é_finale                          10000 non-null  object
 20  Conso_ECS_dépensier_é_finale                10000 non-null  object
 21  Conso_refroidissement_é_finale              10000 non-null  object
 22  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 23  Conso_auxiliaires_é_finale                  10000 non-null  object
 24  Conso_5_usages_é_primaire                   10000 non-null  object
 25  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 26  Conso_chauffage_é_primaire                  10000 non-null  object
 27  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 28  Conso_éclairage_é_primaire                  10000 non-null  object
 29  Conso_ECS_é_primaire                        10000 non-null  object
 30  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 31  Conso_refroidissement_é_primaire            10000 non-null  object
 32  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 33  Conso_auxiliaires_é_primaire                10000 non-null  object
 34  Emission_GES_5_usages                       10000 non-null  object
 35  Emission_GES_5_usages_par_m²                10000 non-null  object
 36  Emission_GES_chauffage                      10000 non-null  object
 37  Emission_GES_chauffage_dépensier            10000 non-null  object
 38  Emission_GES_éclairage                      10000 non-null  object
 39  Emission_GES_ECS                            10000 non-null  object
 40  Emission_GES_ECS_dépensier                  10000 non-null  object
 41  Emission_GES_refroidissement                10000 non-null  object
 42  Emission_GES_refroidissement_dépensier      10000 non-null  object
 43  Emission_GES_auxiliaires                    10000 non-null  object
 44  Coût_chauffage_énergie_n°1                  10000 non-null  object
 45  Coût_ECS_énergie_n°1                        10000 non-null  object
 46  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 47  Type_énergie_n°1                            10000 non-null  object
 48  Coût_chauffage_énergie_n°2                  7303 non-null   object
 49  Coût_ECS_énergie_n°2                        7303 non-null   object
 50  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 51  Type_énergie_n°2                            7303 non-null   object
 52  Coût_total_5_usages                         10000 non-null  object
 53  Coût_chauffage                              10000 non-null  object
 54  Coût_chauffage_dépensier                    10000 non-null  object
 55  Coût_éclairage                              10000 non-null  object
 56  Coût_ECS_dépensier                          10000 non-null  object
 57  Coût_ECS                                    10000 non-null  object
 58  Coût_refroidissement                        10000 non-null  object
 59  Coût_refroidissement_dépensier              10000 non-null  object
 60  Coût_auxiliaires                            10000 non-null  object
 61  Qualité_isolation_enveloppe                 10000 non-null  object
 62  Qualité_isolation_menuiseries               10000 non-null  object
 63  Qualité_isolation_murs                      10000 non-null  object
 64  Qualité_isolation_plancher_bas              9982 non-null   object
 65  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(3), object(63)
memory usage: 5.0+ MB

**Columns missing values**

In [103]:
na_values_columns = ['Appartement_non_visité_(0/1)', 'Nombre_appartement', 'Nombre_niveau_immeuble', 'Nombre_niveau_logement',
                     'Surface_habitable_immeuble', 'Surface_habitable_logement', 'Score_BAN', 'Coût_chauffage_énergie_n°2', 
                     'Coût_ECS_énergie_n°2', 'Type_énergie_n°2', 'Emission_GES_5_usages_énergie_n°2', 'Qualité_isolation_plancher_bas']

df_na_values = df_test[na_values_columns]

In [104]:
print(df_na_values['Appartement_non_visité_(0/1)'].isna().sum())

print(df_na_values['Appartement_non_visité_(0/1)'].value_counts())

df_na_values['Appartement_non_visité_(0/1)'] = df_na_values['Appartement_non_visité_(0/1)'].fillna('FAUX')

1012
Appartement_non_visité_(0/1)
FAUX    8007
VRAI     981
Name: count, dtype: int64

/tmp/ipykernel_6862/830894156.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Appartement_non_visité_(0/1)'] = df_na_values['Appartement_non_visité_(0/1)'].fillna('FAUX')

In [105]:
print(df_na_values['Appartement_non_visité_(0/1)'].isna().sum())

0

In [106]:
df_na_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Appartement_non_visité_(0/1)       10000 non-null  object
 1   Nombre_appartement                 8933 non-null   float64
 2   Nombre_niveau_immeuble             8812 non-null   float64
 3   Nombre_niveau_logement             8499 non-null   float64
 4   Surface_habitable_immeuble         8772 non-null   object
 5   Surface_habitable_logement         9955 non-null   object
 6   Score_BAN                          9947 non-null   object
 7   Coût_chauffage_énergie_n°2         7303 non-null   object
 8   Coût_ECS_énergie_n°2               7303 non-null   object
 9   Type_énergie_n°2                   7303 non-null   object
 10  Emission_GES_5_usages_énergie_n°2  7303 non-null   object
 11  Qualité_isolation_plancher_bas     9982 non-null   object
dtypes: float64(3), object(9)
memory usage: 937.6+ KB

In [107]:
df_na_values['Nombre_appartement'] = df_na_values['Nombre_appartement'].fillna(df_na_values['Nombre_appartement'].mean())

/tmp/ipykernel_6862/2047869160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_appartement'] = df_na_values['Nombre_appartement'].fillna(df_na_values['Nombre_appartement'].mean())

In [108]:
print(df_na_values['Nombre_niveau_immeuble'].isna().sum())

print(df_na_values['Nombre_niveau_immeuble'].value_counts())

df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

1188
Nombre_niveau_immeuble
1.0    8800
3.0       5
2.0       4
4.0       1
5.0       1
6.0       1
Name: count, dtype: int64

/tmp/ipykernel_6862/3688349026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

In [109]:
print(df_na_values['Nombre_niveau_logement'].isna().sum())

print(df_na_values['Nombre_niveau_logement'].value_counts())

df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

1501
Nombre_niveau_logement
1.0    8232
2.0      91
4.0      83
3.0      40
5.0      27
6.0      20
9.0       5
7.0       1
Name: count, dtype: int64

/tmp/ipykernel_6862/3052973000.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

In [110]:
print(df_na_values['Surface_habitable_immeuble'].isna().sum())

print(df_na_values['Surface_habitable_immeuble'].value_counts())

df_na_values['Surface_habitable_immeuble'].describe()

1228
Surface_habitable_immeuble
6450,6    38
7188,5    34
6249,7    27
4441,7    25
5318,4    24
          ..
626,5      1
799,1      1
1076,3     1
195,8      1
672,4      1
Name: count, Length: 3075, dtype: int64

count       8772
unique      3075
top       6450,6
freq          38
Name: Surface_habitable_immeuble, dtype: object

In [111]:
df_na_values['Surface_habitable_immeuble'] = df_na_values['Surface_habitable_immeuble'].str.replace(',','.').astype(float)

print(df_na_values['Surface_habitable_immeuble'].value_counts())

df_na_values['Surface_habitable_immeuble'].describe()

Surface_habitable_immeuble
6450.6    38
7188.5    34
6249.7    27
4441.7    25
5318.4    24
          ..
626.5      1
799.1      1
1076.3     1
195.8      1
672.4      1
Name: count, Length: 3075, dtype: int64

/tmp/ipykernel_6862/3546267116.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Surface_habitable_immeuble'] = df_na_values['Surface_habitable_immeuble'].str.replace(',','.').astype(float)

count     8772.000000
mean      1750.839512
std       2078.947799
min         39.600000
25%        336.125000
50%       1292.500000
75%       2430.000000
max      87682.000000
Name: Surface_habitable_immeuble, dtype: float64

In [112]:
print(df_na_values['Surface_habitable_immeuble'])

df_na_values['Surface_habitable_immeuble'].describe()

df_na_values['Surface_habitable_immeuble'] = df_na_values['Surface_habitable_immeuble'].fillna(df_na_values['Surface_habitable_immeuble'].mean().round(1))

print(df_na_values['Surface_habitable_immeuble'].isna().sum())

0        339.7
1         71.6
2       1128.2
3        104.5
4       1738.3
         ...
9995       NaN
9996      94.2
9997    2873.7
9998       NaN
9999       NaN
Name: Surface_habitable_immeuble, Length: 10000, dtype: float64
0

/tmp/ipykernel_6862/1985869825.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Surface_habitable_immeuble'] = df_na_values['Surface_habitable_immeuble'].fillna(df_na_values['Surface_habitable_immeuble'].mean().round(1))

In [113]:
df_na_values['Score_BAN'] = df_na_values['Score_BAN'].str.replace(',','.').astype(float)

df_na_values['Score_BAN'] = df_na_values['Score_BAN'].fillna(df_na_values['Score_BAN'].mean().round(1))

print(df_na_values['Score_BAN'].isna().sum())

print(df_na_values['Score_BAN'])

0
0       0.80
1       0.21
2       0.72
3       0.33
4       0.82
        ...
9995    0.96
9996    0.56
9997    0.75
9998    0.64
9999    0.88
Name: Score_BAN, Length: 10000, dtype: float64

/tmp/ipykernel_6862/2863507177.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Score_BAN'] = df_na_values['Score_BAN'].str.replace(',','.').astype(float)
/tmp/ipykernel_6862/2863507177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Score_BAN'] = df_na_values['Score_BAN'].fillna(df_na_values['Score_BAN'].mean().round(1))

In [114]:
df_na_values['Coût_chauffage_énergie_n°2'] = df_na_values['Coût_chauffage_énergie_n°2'].str.replace(',','.').astype(float)

df_na_values['Coût_chauffage_énergie_n°2'] = df_na_values['Score_BAN'].fillna(df_na_values['Coût_chauffage_énergie_n°2'].mean().round(1))

print(df_na_values['Coût_chauffage_énergie_n°2'].isna().sum())

print(df_na_values['Coût_chauffage_énergie_n°2'])

0
0       0.80
1       0.21
2       0.72
3       0.33
4       0.82
        ...
9995    0.96
9996    0.56
9997    0.75
9998    0.64
9999    0.88
Name: Coût_chauffage_énergie_n°2, Length: 10000, dtype: float64

/tmp/ipykernel_6862/2180220433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Coût_chauffage_énergie_n°2'] = df_na_values['Coût_chauffage_énergie_n°2'].str.replace(',','.').astype(float)
/tmp/ipykernel_6862/2180220433.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Coût_chauffage_énergie_n°2'] = df_na_values['Score_BAN'].fillna(df_na_values['Coût_chauffage_énergie_n°2'].mean().round(1))

In [115]:
df_na_values['Coût_ECS_énergie_n°2'] = df_na_values['Coût_ECS_énergie_n°2'].str.replace(',','.').astype(float)

df_na_values['Coût_ECS_énergie_n°2'] = df_na_values['Coût_ECS_énergie_n°2'].fillna(df_na_values['Coût_ECS_énergie_n°2'].mean().round(1))

print(df_na_values['Coût_ECS_énergie_n°2'].isna().sum())

print(df_na_values['Coût_ECS_énergie_n°2'])

/tmp/ipykernel_6862/2535515516.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Coût_ECS_énergie_n°2'] = df_na_values['Coût_ECS_énergie_n°2'].str.replace(',','.').astype(float)

0
0         0.0
1         3.0
2         0.0
3       227.0
4         4.4
        ...
9995    268.2
9996      0.0
9997      0.0
9998    167.7
9999     52.3
Name: Coût_ECS_énergie_n°2, Length: 10000, dtype: float64

/tmp/ipykernel_6862/2535515516.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Coût_ECS_énergie_n°2'] = df_na_values['Coût_ECS_énergie_n°2'].fillna(df_na_values['Coût_ECS_énergie_n°2'].mean().round(1))

In [116]:
df_na_values['Type_énergie_n°2'] = df_na_values['Type_énergie_n°2'].fillna('Électricité')

print(df_na_values['Type_énergie_n°2'].isna().sum())

print(df_na_values['Type_énergie_n°2'])

df_na_values['Type_énergie_n°2'].value_counts()

0
0       Électricité
1       Électricité
2       Électricité
3       Électricité
4       Électricité
           ...
9995    Électricité
9996    Électricité
9997    Électricité
9998    Électricité
9999    Électricité
Name: Type_énergie_n°2, Length: 10000, dtype: object

/tmp/ipykernel_6862/1702328222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Type_énergie_n°2'] = df_na_values['Type_énergie_n°2'].fillna('Électricité')

Type_énergie_n°2
Électricité                                9112
Gaz naturel                                 690
Réseau de Chauffage urbain                  101
Bois – Granulés (pellets) ou briquettes      84
Bois – Bûches                                 9
GPL                                           3
Fioul domestique                              1
Name: count, dtype: int64

In [117]:
df_na_values['Emission_GES_5_usages_énergie_n°2'] = df_na_values['Emission_GES_5_usages_énergie_n°2'].str.replace(',','.').astype(float)

df_na_values['Emission_GES_5_usages_énergie_n°2'] = df_na_values['Emission_GES_5_usages_énergie_n°2'].fillna(df_na_values['Emission_GES_5_usages_énergie_n°2'].mean().round(1))

print(df_na_values['Emission_GES_5_usages_énergie_n°2'].isna().sum())

print(df_na_values['Emission_GES_5_usages_énergie_n°2'])

0
0         2.4
1        12.7
2         1.9
3        22.5
4         2.8
        ...
9995    103.2
9996     16.7
9997      2.6
9998    652.7
9999    796.7
Name: Emission_GES_5_usages_énergie_n°2, Length: 10000, dtype: float64

/tmp/ipykernel_6862/3326178503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Emission_GES_5_usages_énergie_n°2'] = df_na_values['Emission_GES_5_usages_énergie_n°2'].str.replace(',','.').astype(float)
/tmp/ipykernel_6862/3326178503.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Emission_GES_5_usages_énergie_n°2'] = df_na_values['Emission_GES_5_usages_énergie_n°2'].fillna(df_na_values['Emission_GES_5_usages_énergie_n°2'].mean().round(1))

In [118]:
print(df_na_values['Qualité_isolation_plancher_bas'].isna().sum())

print(df_na_values['Qualité_isolation_plancher_bas'])

df_na_values['Qualité_isolation_plancher_bas'].value_counts()

18
0            bonne
1       très bonne
2            bonne
3       très bonne
4            bonne
           ...
9995    très bonne
9996    très bonne
9997         bonne
9998    très bonne
9999    très bonne
Name: Qualité_isolation_plancher_bas, Length: 10000, dtype: object

Qualité_isolation_plancher_bas
très bonne      6069
bonne           3713
moyenne          169
insuffisante      31
Name: count, dtype: int64

In [119]:
df_na_values['Qualité_isolation_plancher_bas'] = df_na_values['Qualité_isolation_plancher_bas'].fillna('très bonne')

print(df_na_values['Qualité_isolation_plancher_bas'].isna().sum())

print(df_na_values['Qualité_isolation_plancher_bas'])

df_na_values['Qualité_isolation_plancher_bas'].value_counts()

0
0            bonne
1       très bonne
2            bonne
3       très bonne
4            bonne
           ...
9995    très bonne
9996    très bonne
9997         bonne
9998    très bonne
9999    très bonne
Name: Qualité_isolation_plancher_bas, Length: 10000, dtype: object

/tmp/ipykernel_6862/1788131108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Qualité_isolation_plancher_bas'] = df_na_values['Qualité_isolation_plancher_bas'].fillna('très bonne')

Qualité_isolation_plancher_bas
très bonne      6087
bonne           3713
moyenne          169
insuffisante      31
Name: count, dtype: int64

In [120]:
df_na_values['Nombre_niveau_logement'] = df_na_values['Nombre_niveau_logement'].fillna(1.0)

print(df_na_values['Nombre_niveau_logement'].isna().sum())

print(df_na_values['Nombre_niveau_logement'])

df_na_values['Nombre_niveau_logement'].value_counts()

0
0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
9995    1.0
9996    1.0
9997    1.0
9998    1.0
9999    1.0
Name: Nombre_niveau_logement, Length: 10000, dtype: float64

/tmp/ipykernel_6862/2827488787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_niveau_logement'] = df_na_values['Nombre_niveau_logement'].fillna(1.0)

Nombre_niveau_logement
1.0    9733
2.0      91
4.0      83
3.0      40
5.0      27
6.0      20
9.0       5
7.0       1
Name: count, dtype: int64

In [121]:
print(df_na_values['Surface_habitable_logement'])

print(df_na_values['Surface_habitable_logement'].isna().sum())

df_na_values['Surface_habitable_logement'].value_counts()

0        43,2
1        71,6
2        44,4
3       104,5
4        54,7
        ...
9995     61,9
9996     94,2
9997     61,5
9998     87,2
9999       89
Name: Surface_habitable_logement, Length: 10000, dtype: object
45

Surface_habitable_logement
65,3      40
44,6      39
65,2      37
63,4      36
41        35
          ..
204        1
162        1
128,5      1
170,9      1
1133,6     1
Name: count, Length: 1634, dtype: int64

In [122]:
df_na_values['Surface_habitable_logement'] = df_na_values['Surface_habitable_logement'].str.replace(',','.').astype(float)

df_na_values['Surface_habitable_logement'] = df_na_values['Surface_habitable_logement'].fillna(df_na_values['Surface_habitable_logement'].mean().round(1))

print(df_na_values['Surface_habitable_logement'].isna().sum())

print(df_na_values['Surface_habitable_logement'])

0
0        43.2
1        71.6
2        44.4
3       104.5
4        54.7
        ...
9995     61.9
9996     94.2
9997     61.5
9998     87.2
9999     89.0
Name: Surface_habitable_logement, Length: 10000, dtype: float64

/tmp/ipykernel_6862/1507279307.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Surface_habitable_logement'] = df_na_values['Surface_habitable_logement'].str.replace(',','.').astype(float)
/tmp/ipykernel_6862/1507279307.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Surface_habitable_logement'] = df_na_values['Surface_habitable_logement'].fillna(df_na_values['Surface_habitable_logement'].mean().round(1))

In [123]:
na_values_columns = ['Appartement_non_visité_(0/1)', 'Nombre_appartement', 'Nombre_niveau_immeuble', 'Nombre_niveau_logement',
                     'Surface_habitable_immeuble', 'Surface_habitable_logement', 'Score_BAN', 'Coût_chauffage_énergie_n°2', 
                     'Coût_ECS_énergie_n°2', 'Type_énergie_n°2', 'Emission_GES_5_usages_énergie_n°2', 'Qualité_isolation_plancher_bas']

df_test.drop(labels = na_values_columns, axis = 1, inplace = True)

df_data = pd.concat([df_test, df_na_values], axis = 1)

print("df_data ", df_data.shape)

df_data  (10000, 66)

In [124]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 66 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Modèle_DPE                                  10000 non-null  object
 1   Version_DPE                                 10000 non-null  object
 2   Méthode_application_DPE                     10000 non-null  object
 3   Etiquette_DPE                               10000 non-null  object
 4   Etiquette_GES                               10000 non-null  object
 5   Type_bâtiment                               10000 non-null  object
 6   Hauteur_sous-plafond                        10000 non-null  object
 7   Conso_5_usages_é_finale                     10000 non-null  object
 8   Conso_5_usages/m²_é_finale                  10000 non-null  object
 9   Conso_chauffage_é_finale                    10000 non-null  object
 10  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 11  Conso_éclairage_é_finale                    10000 non-null  object
 12  Conso_ECS_é_finale                          10000 non-null  object
 13  Conso_ECS_dépensier_é_finale                10000 non-null  object
 14  Conso_refroidissement_é_finale              10000 non-null  object
 15  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 16  Conso_auxiliaires_é_finale                  10000 non-null  object
 17  Conso_5_usages_é_primaire                   10000 non-null  object
 18  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 19  Conso_chauffage_é_primaire                  10000 non-null  object
 20  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 21  Conso_éclairage_é_primaire                  10000 non-null  object
 22  Conso_ECS_é_primaire                        10000 non-null  object
 23  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 24  Conso_refroidissement_é_primaire            10000 non-null  object
 25  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 26  Conso_auxiliaires_é_primaire                10000 non-null  object
 27  Emission_GES_5_usages                       10000 non-null  object
 28  Emission_GES_5_usages_par_m²                10000 non-null  object
 29  Emission_GES_chauffage                      10000 non-null  object
 30  Emission_GES_chauffage_dépensier            10000 non-null  object
 31  Emission_GES_éclairage                      10000 non-null  object
 32  Emission_GES_ECS                            10000 non-null  object
 33  Emission_GES_ECS_dépensier                  10000 non-null  object
 34  Emission_GES_refroidissement                10000 non-null  object
 35  Emission_GES_refroidissement_dépensier      10000 non-null  object
 36  Emission_GES_auxiliaires                    10000 non-null  object
 37  Coût_chauffage_énergie_n°1                  10000 non-null  object
 38  Coût_ECS_énergie_n°1                        10000 non-null  object
 39  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 40  Type_énergie_n°1                            10000 non-null  object
 41  Coût_total_5_usages                         10000 non-null  object
 42  Coût_chauffage                              10000 non-null  object
 43  Coût_chauffage_dépensier                    10000 non-null  object
 44  Coût_éclairage                              10000 non-null  object
 45  Coût_ECS_dépensier                          10000 non-null  object
 46  Coût_ECS                                    10000 non-null  object
 47  Coût_refroidissement                        10000 non-null  object
 48  Coût_refroidissement_dépensier              10000 non-null  object
 49  Coût_auxiliaires                            10000 non-null  object
 50  Qualité_isolation_enveloppe                 10000 non-null  object
 51  Qualité_isolation_menuiseries               10000 non-null  object
 52  Qualité_isolation_murs                      10000 non-null  object
 53  Ubat_W/m²_K                                 10000 non-null  object
 54  Appartement_non_visité_(0/1)                10000 non-null  object
 55  Nombre_appartement                          10000 non-null  float64
 56  Nombre_niveau_immeuble                      10000 non-null  float64
 57  Nombre_niveau_logement                      10000 non-null  float64
 58  Surface_habitable_immeuble                  10000 non-null  float64
 59  Surface_habitable_logement                  10000 non-null  float64
 60  Score_BAN                                   10000 non-null  float64
 61  Coût_chauffage_énergie_n°2                  10000 non-null  float64
 62  Coût_ECS_énergie_n°2                        10000 non-null  float64
 63  Type_énergie_n°2                            10000 non-null  object
 64  Emission_GES_5_usages_énergie_n°2           10000 non-null  float64
 65  Qualité_isolation_plancher_bas              10000 non-null  object
dtypes: float64(9), object(57)
memory usage: 5.0+ MB

In [125]:
df_data['Hauteur_sous-plafond'] = df_data['Hauteur_sous-plafond'].str.replace(',','.').astype(float)

print(df_data['Hauteur_sous-plafond'])

0       2.5
1       2.5
2       2.5
3       2.5
4       2.5
       ...
9995    2.5
9996    2.5
9997    2.5
9998    2.5
9999    2.6
Name: Hauteur_sous-plafond, Length: 10000, dtype: float64

In [126]:
df_data['Conso_5_usages_é_finale'] = df_data['Conso_5_usages_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_5_usages_é_finale'])

0       2780.9
1       4173.0
2       2401.9
3       6651.3
4       4856.8
         ...
9995    5573.1
9996    4866.3
9997    3491.2
9998    3457.3
9999    3471.2
Name: Conso_5_usages_é_finale, Length: 10000, dtype: float64

In [127]:
df_data['Conso_5_usages/m²_é_finale'] = df_data['Conso_5_usages/m²_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_5_usages/m²_é_finale'])

0       64.4
1       58.3
2       54.1
3       63.7
4       88.7
        ...
9995    90.0
9996    51.7
9997    56.8
9998    39.0
9999    39.0
Name: Conso_5_usages/m²_é_finale, Length: 10000, dtype: float64

In [128]:
df_data['Conso_chauffage_é_finale'] = df_data['Conso_chauffage_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_chauffage_é_finale'])

0       1713.9
1       2613.0
2       1147.8
3       5452.0
4       3301.6
         ...
9995    4179.6
9996    3017.0
9997    1874.4
9998    2657.6
9999    1770.7
Name: Conso_chauffage_é_finale, Length: 10000, dtype: float64

In [129]:
df_data['Conso_chauffage_dépensier_é_finale'] = df_data['Conso_chauffage_dépensier_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_chauffage_dépensier_é_finale'])

0       1988.1
1       3031.1
2       1331.4
3       6324.3
4       3829.8
         ...
9995    4848.3
9996    3499.7
9997    2174.3
9998    3082.8
9999    2054.0
Name: Conso_chauffage_dépensier_é_finale, Length: 10000, dtype: float64

In [130]:
df_data['Conso_éclairage_é_finale'] = df_data['Conso_éclairage_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_éclairage_é_finale'])

0        30.9
1       131.6
2        25.7
3       226.6
4        36.8
        ...
9995    239.3
9996    178.0
9997     37.6
9998    177.8
9999    163.1
Name: Conso_éclairage_é_finale, Length: 10000, dtype: float64

In [131]:
df_data['Conso_ECS_é_finale'] = df_data['Conso_ECS_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_ECS_é_finale'])

0        934.4
1       1372.0
2       1132.9
3        866.0
4       1379.0
         ...
9995    1150.9
9996    1602.0
9997    1454.9
9998     578.0
9999    1534.4
Name: Conso_ECS_é_finale, Length: 10000, dtype: float64

In [132]:
df_data['Conso_ECS_dépensier_é_finale'] = df_data['Conso_ECS_dépensier_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_ECS_dépensier_é_finale'])

0       1317.5
1       1934.5
2       1597.4
3       1221.1
4       1944.3
         ...
9995    1622.8
9996    2258.8
9997    2051.4
9998     814.9
9999    2163.5
Name: Conso_ECS_dépensier_é_finale, Length: 10000, dtype: float64

In [133]:
df_data['Conso_refroidissement_é_finale'] = df_data['Conso_refroidissement_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_refroidissement_é_finale'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Conso_refroidissement_é_finale, Length: 10000, dtype: float64

In [134]:
df_data['Conso_refroidissement_dépensier_é_finale'] = df_data['Conso_refroidissement_dépensier_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_refroidissement_dépensier_é_finale'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Conso_refroidissement_dépensier_é_finale, Length: 10000, dtype: float64

In [135]:
df_data['Conso_auxiliaires_é_finale'] = df_data['Conso_auxiliaires_é_finale'].str.replace(',','.').astype(float)

print(df_data['Conso_auxiliaires_é_finale'])

0        3.9
1        0.0
2        1.4
3       13.3
4        4.1
        ...
9995     3.3
9996     9.9
9997     0.0
9998    43.9
9999     3.0
Name: Conso_auxiliaires_é_finale, Length: 10000, dtype: float64

In [136]:
df_data['Conso_5_usages_é_primaire'] = df_data['Conso_5_usages_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_5_usages_é_primaire'])

0       2953.4
1       4440.8
2       2559.5
3       8245.4
4       5140.0
         ...
9995    7429.2
9996    5200.7
9997    3701.8
9998    4525.5
9999    3696.4
Name: Conso_5_usages_é_primaire, Length: 10000, dtype: float64

In [137]:
df_data['Conso_5_usages_par_m²_é_primaire'] = df_data['Conso_5_usages_par_m²_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_5_usages_par_m²_é_primaire'])

0        68.3
1        62.0
2        57.6
3        78.9
4        93.9
        ...
9995    120.0
9996     55.2
9997     60.2
9998     51.0
9999     41.5
Name: Conso_5_usages_par_m²_é_primaire, Length: 10000, dtype: float64

In [138]:
df_data['Conso_chauffage_é_primaire'] = df_data['Conso_chauffage_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_chauffage_é_primaire'])

0       1713.9
1       2624.7
2       1147.8
3       5487.1
4       3335.7
         ...
9995    4224.0
9996    3030.0
9997    1874.4
9998    2686.1
9999    1776.4
Name: Conso_chauffage_é_primaire, Length: 10000, dtype: float64

In [139]:
df_data['Conso_chauffage_dépensier_é_primaire'] = df_data['Conso_chauffage_dépensier_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_chauffage_dépensier_é_primaire'])

0       1988.1
1       3044.7
2       1331.4
3       6365.0
4       3869.5
         ...
9995    4899.9
9996    3514.8
9997    2174.3
9998    2686.1
9999    2060.7
Name: Conso_chauffage_dépensier_é_primaire, Length: 10000, dtype: float64

In [140]:
df_data['Conso_éclairage_é_primaire'] = df_data['Conso_éclairage_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_éclairage_é_primaire'])

0        71.1
1       302.7
2        59.1
3       521.2
4        84.7
        ...
9995    550.4
9996    409.4
9997     86.4
9998    409.0
9999    375.1
Name: Conso_éclairage_é_primaire, Length: 10000, dtype: float64

In [141]:
df_data['Conso_ECS_é_primaire'] = df_data['Conso_ECS_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_ECS_é_primaire'])

0       1317.5
1       1951.0
2       1597.4
3       2808.4
4       1972.4
         ...
9995    2647.1
9996    2258.8
9997    2051.4
9998    1329.3
9999    1538.1
Name: Conso_ECS_é_primaire, Length: 10000, dtype: float64

In [142]:
df_data['Conso_ECS_dépensier_é_primaire'] = df_data['Conso_ECS_dépensier_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_ECS_dépensier_é_primaire'])

0        934.4
1       1383.7
2       1132.9
3       1991.8
4       1398.9
         ...
9995    3732.5
9996    1602.0
9997    1454.9
9998    1329.3
9999    2168.7
Name: Conso_ECS_dépensier_é_primaire, Length: 10000, dtype: float64

In [143]:
df_data['Conso_refroidissement_é_primaire'] = df_data['Conso_refroidissement_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_refroidissement_é_primaire'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Conso_refroidissement_é_primaire, Length: 10000, dtype: float64

In [144]:
df_data['Conso_refroidissement_dépensier_é_primaire'] = df_data['Conso_refroidissement_dépensier_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_refroidissement_dépensier_é_primaire'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Conso_refroidissement_dépensier_é_primaire, Length: 10000, dtype: float64

In [145]:
df_data['Conso_auxiliaires_é_primaire'] = df_data['Conso_auxiliaires_é_primaire'].str.replace(',','.').astype(float)

print(df_data['Conso_auxiliaires_é_primaire'])

0         8.9
1         0.0
2         3.1
3        30.7
4         9.4
        ...
9995      7.6
9996     22.7
9997      0.0
9998    101.0
9999      6.9
Name: Conso_auxiliaires_é_primaire, Length: 10000, dtype: float64

In [146]:
# Emission_GES_5_usages                       
# Emission_GES_5_usages_par_m²                 
# Emission_GES_chauffage                       
# Emission_GES_chauffage_dépensier             
# Emission_GES_éclairage                       
# Emission_GES_ECS                             
# Emission_GES_ECS_dépensier                   
# Emission_GES_refroidissement                 
# Emission_GES_refroidissement_dépensier 
# Emission_GES_auxiliaires

In [147]:
df_data['Emission_GES_5_usages'] = df_data['Emission_GES_5_usages'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_5_usages'])

0        610.1
1        914.5
2        525.9
3       1312.4
4       1068.0
         ...
9995    1032.4
9996    1063.7
9997     766.8
9998     652.7
9999     759.7
Name: Emission_GES_5_usages, Length: 10000, dtype: float64

In [148]:
df_data['Emission_GES_5_usages_par_m²'] = df_data['Emission_GES_5_usages_par_m²'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_5_usages_par_m²'])

0       14.1
1       12.8
2       11.8
3       12.6
4       19.5
        ...
9995    16.7
9996    11.3
9997    12.5
9998     7.0
9999     8.5
Name: Emission_GES_5_usages_par_m², Length: 10000, dtype: float64

In [149]:
df_data['Emission_GES_chauffage'] = df_data['Emission_GES_chauffage'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_chauffage'])

0        389.1
1        591.8
2        260.5
3       1233.6
4        745.6
         ...
9995     943.2
9996     683.4
9997     425.5
9998     600.0
9999     401.2
Name: Emission_GES_chauffage, Length: 10000, dtype: float64

In [150]:
df_data['Emission_GES_chauffage_dépensier'] = df_data['Emission_GES_chauffage_dépensier'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_chauffage_dépensier'])

0        451.3
1        686.5
2        302.2
3       1431.0
4        864.9
         ...
9995    1094.1
9996     792.7
9997     493.6
9998     600.0
9999     465.4
Name: Emission_GES_chauffage_dépensier, Length: 10000, dtype: float64

In [151]:
df_data['Emission_GES_éclairage'] = df_data['Emission_GES_éclairage'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_éclairage'])

0        2.1
1        9.1
2        1.8
3       15.6
4        2.5
        ...
9995    15.3
9996    12.3
9997     2.6
9998    12.3
9999    10.4
Name: Emission_GES_éclairage, Length: 10000, dtype: float64

In [152]:
df_data['Emission_GES_ECS'] = df_data['Emission_GES_ECS'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_ECS'])

0       299.1
1       437.1
2       362.6
3        79.4
4       437.9
        ...
9995     73.7
9996    512.8
9997    465.7
9998     37.6
9999    347.8
Name: Emission_GES_ECS, Length: 10000, dtype: float64

In [153]:
df_data['Emission_GES_ECS_dépensier'] = df_data['Emission_GES_ECS_dépensier'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_ECS_dépensier'])

0       212.1
1       310.0
2       257.2
3        56.3
4       310.5
        ...
9995    103.9
9996    363.7
9997    330.3
9998     37.6
9999    490.5
Name: Emission_GES_ECS_dépensier, Length: 10000, dtype: float64

In [154]:
df_data['Emission_GES_refroidissement'] = df_data['Emission_GES_refroidissement'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_refroidissement'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Emission_GES_refroidissement, Length: 10000, dtype: float64

In [155]:
df_data['Emission_GES_refroidissement_dépensier'] = df_data['Emission_GES_refroidissement_dépensier'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_refroidissement_dépensier'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Emission_GES_refroidissement_dépensier, Length: 10000, dtype: float64

In [156]:
df_data['Emission_GES_auxiliaires'] = df_data['Emission_GES_auxiliaires'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_auxiliaires'])

0       0.2
1       0.0
2       0.1
3       0.9
4       0.3
       ...
9995    0.2
9996    0.6
9997    0.0
9998    2.8
9999    0.2
Name: Emission_GES_auxiliaires, Length: 10000, dtype: float64

In [157]:
df_data['Coût_chauffage_énergie_n°1'] = df_data['Coût_chauffage_énergie_n°1'].str.replace(',','.').astype(float)

print(df_data['Coût_chauffage_énergie_n°1'])

0        247.2
1        376.0
2         79.9
3        584.0
4        364.2
         ...
9995     461.0
9996     434.0
9997     208.5
9998     299.5
9999    8955.7
Name: Coût_chauffage_énergie_n°1, Length: 10000, dtype: float64

In [158]:
df_data['Coût_ECS_énergie_n°1'] = df_data['Coût_ECS_énergie_n°1'].str.replace(',','.').astype(float)

print(df_data['Coût_ECS_énergie_n°1'])

0         134.7
1         197.0
2          78.9
3           0.0
4         151.7
         ...
9995        0.0
9996      231.0
9997      161.8
9998      167.7
9999    10922.9
Name: Coût_ECS_énergie_n°1, Length: 10000, dtype: float64

In [159]:
df_data['Emission_GES_5_usages_énergie_n°1'] = df_data['Emission_GES_5_usages_énergie_n°1'].str.replace(',','.').astype(float)

print(df_data['Emission_GES_5_usages_énergie_n°1'])

0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
         ...
9995      941.0
9996        0.0
9997        0.0
9998      652.7
9999    40575.8
Name: Emission_GES_5_usages_énergie_n°1, Length: 10000, dtype: float64

In [160]:
df_data['Coût_total_5_usages'] = df_data['Coût_total_5_usages'].str.replace(',','.').astype(float)

print(df_data['Coût_total_5_usages'])

0       430.2
1       648.0
2       194.0
3       904.0
4       579.1
        ...
9995    844.5
9996    760.0
9997    417.2
9998    531.5
9999    457.4
Name: Coût_total_5_usages, Length: 10000, dtype: float64

In [161]:
df_data['Coût_chauffage'] = df_data['Coût_chauffage'].str.replace(',','.').astype(float)

print(df_data['Coût_chauffage'])

0       247.2
1       379.0
2        79.9
3       591.0
4       371.9
        ...
9995    519.7
9996    438.0
9997    208.4
9998    299.5
9999    219.3
Name: Coût_chauffage, Length: 10000, dtype: float64

In [162]:
df_data['Coût_chauffage_dépensier'] = df_data['Coût_chauffage_dépensier'].str.replace(',','.').astype(float)

print(df_data['Coût_chauffage_dépensier'])

0       286.7
1       439.6
2        92.7
3       685.6
4       431.4
        ...
9995    602.8
9996    508.1
9997    241.8
9998    299.5
9999    254.4
Name: Coût_chauffage_dépensier, Length: 10000, dtype: float64

In [163]:
df_data['Coût_éclairage'] = df_data['Coût_éclairage'].str.replace(',','.').astype(float)

print(df_data['Coût_éclairage'])

0        84.9
1        48.0
2        88.6
3        59.0
4       126.9
        ...
9995     55.8
9996     65.0
9997    129.6
9998     51.6
9999     47.3
Name: Coût_éclairage, Length: 10000, dtype: float64

In [164]:
df_data['Coût_ECS_dépensier'] = df_data['Coût_ECS_dépensier'].str.replace(',','.').astype(float)

print(df_data['Coût_ECS_dépensier'])

0       190.0
1       282.0
2       111.3
3       320.1
4       220.1
        ...
9995    378.2
9996    325.7
9997    228.1
9998    167.7
9999    267.7
Name: Coût_ECS_dépensier, Length: 10000, dtype: float64

In [165]:
df_data['Coût_ECS'] = df_data['Coût_ECS'].str.replace(',','.').astype(float)

print(df_data['Coût_ECS'])

0       134.8
1       200.0
2        78.9
3       227.0
4       156.1
        ...
9995    268.2
9996    231.0
9997    161.8
9998    167.7
9999    189.9
Name: Coût_ECS, Length: 10000, dtype: float64

In [166]:
df_data['Coût_refroidissement'] = df_data['Coût_refroidissement'].str.replace(',','.').astype(float)

print(df_data['Coût_refroidissement'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Coût_refroidissement, Length: 10000, dtype: float64

In [167]:
df_data['Coût_refroidissement_dépensier'] = df_data['Coût_refroidissement_dépensier'].str.replace(',','.').astype(float)

print(df_data['Coût_refroidissement_dépensier'])

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9995    0.0
9996    0.0
9997    0.0
9998    0.0
9999    0.0
Name: Coût_refroidissement_dépensier, Length: 10000, dtype: float64

In [168]:
df_data['Coût_auxiliaires'] = df_data['Coût_auxiliaires'].str.replace(',','.').astype(float)

print(df_data['Coût_auxiliaires'])

0       10.6
1        0.0
2        4.7
3        3.0
4       14.1
        ...
9995     0.8
9996     4.0
9997     0.0
9998    12.7
9999     0.9
Name: Coût_auxiliaires, Length: 10000, dtype: float64

In [169]:
df_data['Ubat_W/m²_K'] = df_data['Ubat_W/m²_K'].str.replace(',','.').astype(float)

print(df_data['Ubat_W/m²_K'])

0       0.52
1       0.37
2       0.47
3       0.34
4       0.63
        ...
9995    0.61
9996    0.35
9997    0.62
9998    0.35
9999    0.68
Name: Ubat_W/m²_K, Length: 10000, dtype: float64

In [170]:
#updatepath = os.path.join('..','data','dpe-update.csv')

#df_data.to_csv(updatepath, index = False)

In [171]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 66 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Modèle_DPE                                  10000 non-null  object
 1   Version_DPE                                 10000 non-null  object
 2   Méthode_application_DPE                     10000 non-null  object
 3   Etiquette_DPE                               10000 non-null  object
 4   Etiquette_GES                               10000 non-null  object
 5   Type_bâtiment                               10000 non-null  object
 6   Hauteur_sous-plafond                        10000 non-null  float64
 7   Conso_5_usages_é_finale                     10000 non-null  float64
 8   Conso_5_usages/m²_é_finale                  10000 non-null  float64
 9   Conso_chauffage_é_finale                    10000 non-null  float64
 10  Conso_chauffage_dépensier_é_finale          10000 non-null  float64
 11  Conso_éclairage_é_finale                    10000 non-null  float64
 12  Conso_ECS_é_finale                          10000 non-null  float64
 13  Conso_ECS_dépensier_é_finale                10000 non-null  float64
 14  Conso_refroidissement_é_finale              10000 non-null  float64
 15  Conso_refroidissement_dépensier_é_finale    10000 non-null  float64
 16  Conso_auxiliaires_é_finale                  10000 non-null  float64
 17  Conso_5_usages_é_primaire                   10000 non-null  float64
 18  Conso_5_usages_par_m²_é_primaire            10000 non-null  float64
 19  Conso_chauffage_é_primaire                  10000 non-null  float64
 20  Conso_chauffage_dépensier_é_primaire        10000 non-null  float64
 21  Conso_éclairage_é_primaire                  10000 non-null  float64
 22  Conso_ECS_é_primaire                        10000 non-null  float64
 23  Conso_ECS_dépensier_é_primaire              10000 non-null  float64
 24  Conso_refroidissement_é_primaire            10000 non-null  float64
 25  Conso_refroidissement_dépensier_é_primaire  10000 non-null  float64
 26  Conso_auxiliaires_é_primaire                10000 non-null  float64
 27  Emission_GES_5_usages                       10000 non-null  float64
 28  Emission_GES_5_usages_par_m²                10000 non-null  float64
 29  Emission_GES_chauffage                      10000 non-null  float64
 30  Emission_GES_chauffage_dépensier            10000 non-null  float64
 31  Emission_GES_éclairage                      10000 non-null  float64
 32  Emission_GES_ECS                            10000 non-null  float64
 33  Emission_GES_ECS_dépensier                  10000 non-null  float64
 34  Emission_GES_refroidissement                10000 non-null  float64
 35  Emission_GES_refroidissement_dépensier      10000 non-null  float64
 36  Emission_GES_auxiliaires                    10000 non-null  float64
 37  Coût_chauffage_énergie_n°1                  10000 non-null  float64
 38  Coût_ECS_énergie_n°1                        10000 non-null  float64
 39  Emission_GES_5_usages_énergie_n°1           10000 non-null  float64
 40  Type_énergie_n°1                            10000 non-null  object
 41  Coût_total_5_usages                         10000 non-null  float64
 42  Coût_chauffage                              10000 non-null  float64
 43  Coût_chauffage_dépensier                    10000 non-null  float64
 44  Coût_éclairage                              10000 non-null  float64
 45  Coût_ECS_dépensier                          10000 non-null  float64
 46  Coût_ECS                                    10000 non-null  float64
 47  Coût_refroidissement                        10000 non-null  float64
 48  Coût_refroidissement_dépensier              10000 non-null  float64
 49  Coût_auxiliaires                            10000 non-null  float64
 50  Qualité_isolation_enveloppe                 10000 non-null  object
 51  Qualité_isolation_menuiseries               10000 non-null  object
 52  Qualité_isolation_murs                      10000 non-null  object
 53  Ubat_W/m²_K                                 10000 non-null  float64
 54  Appartement_non_visité_(0/1)                10000 non-null  object
 55  Nombre_appartement                          10000 non-null  float64
 56  Nombre_niveau_immeuble                      10000 non-null  float64
 57  Nombre_niveau_logement                      10000 non-null  float64
 58  Surface_habitable_immeuble                  10000 non-null  float64
 59  Surface_habitable_logement                  10000 non-null  float64
 60  Score_BAN                                   10000 non-null  float64
 61  Coût_chauffage_énergie_n°2                  10000 non-null  float64
 62  Coût_ECS_énergie_n°2                        10000 non-null  float64
 63  Type_énergie_n°2                            10000 non-null  object
 64  Emission_GES_5_usages_énergie_n°2           10000 non-null  float64
 65  Qualité_isolation_plancher_bas              10000 non-null  object
dtypes: float64(53), object(13)
memory usage: 5.0+ MB

In [172]:
dict_columns={'Modèle_DPE':'Modele_DPE',
        'Méthode_application_DPE':'Methode_application_DPE',
         'Type_bâtiment':'Type_batiment',
         'Conso_5_usages_é_finale':'Conso_5_usages_finale',
         'Conso_5_usages/m²_é_finale':'Conso_5_usages_m2_finale',
         'Conso_chauffage_é_finale':'Conso_chauffage_finale',
         'Conso_chauffage_dépensier_é_finale':'Conso_chauffage_depensier_finale',
         'Conso_éclairage_é_finale':'Conso_eclairage_finale',
         'Conso_ECS_é_finale':'Conso_ECS_finale',
         'Conso_ECS_dépensier_é_finale':'Conso_ECS_depensier_finale',
         'Conso_refroidissement_é_finale':'Conso_refroidissement_finale',
         'Conso_refroidissement_dépensier_é_finale':'Conso_refroidissement_depensier_finale',
         'Conso_auxiliaires_é_finale':'Conso_auxiliaires_finale',
         'Conso_5_usages_é_primaire':'Conso_5_usages_primaire',
         'Conso_5_usages_par_m²_é_primaire':'Conso_5_usages_par_m2_primaire',
         'Conso_chauffage_é_primaire':'Conso_chauffage_primaire',
         'Conso_chauffage_dépensier_é_primaire':'Conso_chauffage_depensier_primaire',
         'Conso_éclairage_é_primaire':'Conso_eclairage_primaire',
         'Conso_ECS_é_primaire':'Conso_ECS_primaire',
         'Conso_ECS_dépensier_é_primaire':'Conso_ECS_depensier_primaire',
         'Conso_refroidissement_é_primaire':'Conso_refroidissement_primaire',
         'Conso_refroidissement_dépensier_é_primaire':'Conso_refroidissement_depensier_primaire',
         'Conso_auxiliaires_é_primaire':'Conso_auxiliaires_primaire',
         'Emission_GES_5_usages_par_m²':'Emission_GES_5_usages_par_m2',
         'Emission_GES_chauffage_dépensier':'Emission_GES_chauffage_depensier',
         'Emission_GES_éclairage':'Emission_GES_eclairage',
         'Emission_GES_ECS_dépensier':'Emission_GES_ECS_depensier',
         'Emission_GES_refroidissement_dépensier':'Emission_GES_refroidissement_depensier',
         'Coût_chauffage_énergie_n°1':'Cout_chauffage_energie_num1',
         'Coût_ECS_énergie_n°1':'Coût_ECS_energie_num1',
         'Emission_GES_5_usages_énergie_n°1':'Emission_GES_5_usages_energie_num1',
         'Type_énergie_n°1':'Type_energie_num1',
         'Coût_total_5_usages':'Cout_total_5_usages',
         'Coût_chauffage':'Cout_chauffage',
         'Coût_chauffage_dépensier':'Cout_chauffage_depensier',
         'Coût_éclairage':'Cout_eclairage',
         'Coût_ECS_dépensier':'Cout_ECS_depensier',
         'Coût_ECS':'Cout_ECS',
         'Coût_refroidissement':'Cout_refroidissement',
         'Coût_refroidissement_dépensier':'Cout_refroidissement_depensier',
         'Coût_auxiliaires':'Cout_auxiliaires',
         'Qualité_isolation_enveloppe':'Qualite_isolation_enveloppe',
         'Qualité_isolation_menuiseries':'Qualite_isolation_menuiseries',
         'Qualité_isolation_murs':'Qualite_isolation_murs',
         'Ubat_W/m²_K':'Ubat_W_m2_K',
         'Appartement_non_visité_(0/1)':'Appartement_non_visite_0_1',
         'Coût_chauffage_énergie_n°2':'Cout_chauffage_energie_num2',
         'Coût_ECS_énergie_n°2':'Cout_ECS_energie_num2',
         'Type_énergie_n°2':'Type_energie_num2',
         'Emission_GES_5_usages_énergie_n°2':'Emission_GES_5_usages_energie_num2',
         'Qualité_isolation_plancher_bas':'Qualite_isolation_plancher_bas',
        }         

df_data.rename(columns=dict_columns, inplace=True)

In [174]:
df_data.columns

Index(['Modele_DPE', 'Version_DPE', 'Methode_application_DPE', 'Etiquette_DPE',
       'Etiquette_GES', 'Type_batiment', 'Hauteur_sous-plafond',
       'Conso_5_usages_finale', 'Conso_5_usages_m2_finale',
       'Conso_chauffage_finale', 'Conso_chauffage_depensier_finale',
       'Conso_eclairage_finale', 'Conso_ECS_finale',
       'Conso_ECS_depensier_finale', 'Conso_refroidissement_finale',
       'Conso_refroidissement_depensier_finale', 'Conso_auxiliaires_finale',
       'Conso_5_usages_primaire', 'Conso_5_usages_par_m2_primaire',
       'Conso_chauffage_primaire', 'Conso_chauffage_depensier_primaire',
       'Conso_eclairage_primaire', 'Conso_ECS_primaire',
       'Conso_ECS_depensier_primaire', 'Conso_refroidissement_primaire',
       'Conso_refroidissement_depensier_primaire',
       'Conso_auxiliaires_primaire', 'Emission_GES_5_usages',
       'Emission_GES_5_usages_par_m2', 'Emission_GES_chauffage',
       'Emission_GES_chauffage_depensier', 'Emission_GES_eclairage',
       'Emission_GES_ECS', 'Emission_GES_ECS_depensier',
       'Emission_GES_refroidissement',
       'Emission_GES_refroidissement_depensier', 'Emission_GES_auxiliaires',
       'Cout_chauffage_energie_num1', 'Coût_ECS_energie_num1',
       'Emission_GES_5_usages_energie_num1', 'Type_energie_num1',
       'Cout_total_5_usages', 'Cout_chauffage', 'Cout_chauffage_depensier',
       'Cout_eclairage', 'Cout_ECS_depensier', 'Cout_ECS',
       'Cout_refroidissement', 'Cout_refroidissement_depensier',
       'Cout_auxiliaires', 'Qualite_isolation_enveloppe',
       'Qualite_isolation_menuiseries', 'Qualite_isolation_murs',
       'Ubat_W_m2_K', 'Appartement_non_visite_0_1', 'Nombre_appartement',
       'Nombre_niveau_immeuble', 'Nombre_niveau_logement',
       'Surface_habitable_immeuble', 'Surface_habitable_logement', 'Score_BAN',
       'Cout_chauffage_energie_num2', 'Cout_ECS_energie_num2',
       'Type_energie_num2', 'Emission_GES_5_usages_energie_num2',
       'Qualite_isolation_plancher_bas'],
      dtype='object')

In [175]:
updatepath = os.path.join('..','data','dpe-update.csv')

df_data.to_csv(updatepath, index = False)