In [1]:
import os
import pandas as pd

In [2]:
csvpath = os.path.join('..','data','dpe.csv')

df = pd.read_csv(csvpath, sep=';', engine='python')

In [3]:
df.head()

,N°DPE,Date_réception_DPE,Date_établissement_DPE,Date_visite_diagnostiqueur,Modèle_DPE,N°_DPE_remplacé,Date_fin_validité_DPE,Version_DPE,Appartement_non_visité_(0/1),Méthode_application_DPE,...,Coût_refroidissement,Coût_refroidissement_dépensier,Coût_auxiliaires,Qualité_isolation_enveloppe,Qualité_isolation_menuiseries,Qualité_isolation_murs,Qualité_isolation_plancher_bas,Ubat_W/m²_K,Qualité_isolation_plancher_haut_comble_aménagé,Catégorie_ENR
0,2133N0419762I,30/09/2021,29/09/2021,29/09/2021,DPE NEUF logement : RT2012,NaN,28/09/2031,1,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"10,6",bonne,très bonne,très bonne,bonne,"0,52",NaN,NaN
1,2131N0244530O,01/09/2021,01/09/2021,01/09/2021,DPE NEUF logement : RT2012,NaN,31/08/2031,1,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,0,très bonne,très bonne,très bonne,très bonne,"0,37",NaN,NaN
2,2164N0719648P,18/11/2021,18/11/2021,09/11/2021,DPE NEUF logement : RT2012,NaN,17/11/2031,"1,1",FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"4,7",bonne,très bonne,bonne,bonne,"0,47",NaN,NaN
3,2157N0987911D,24/12/2021,23/12/2021,21/12/2021,DPE NEUF logement : RT2012,NaN,22/12/2031,2,FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,3,très bonne,très bonne,très bonne,très bonne,"0,34",NaN,chauffe-eau thermodynamique
4,2163N0927480C,16/12/2021,09/12/2021,16/11/2021,DPE NEUF logement : RT2012,NaN,08/12/2031,"1,1",FAUX,dpe issu d'une étude thermique réglementaire R...,...,0,0,"14,1",bonne,très bonne,très bonne,bonne,"0,63",NaN,NaN

In [4]:
df.describe()

,Nombre_appartement,Nombre_niveau_immeuble,Nombre_niveau_logement,Code_postal_(BAN),Code_postal_(brut),N°_étage_appartement,N°_région_(BAN)
count,8933.000000,8812.000000,8499.000000,9947.000000,10000.000000,2372.000000,9942.000000
mean,34.530953,1.002951,1.079303,56998.606313,56935.612800,0.121417,50.201971
std,47.668722,0.091596,0.512557,27709.196039,27765.895414,0.624615,30.472674
min,1.000000,1.000000,1.000000,1000.000000,0.000000,0.000000,2.000000
25%,2.000000,1.000000,1.000000,33670.000000,33670.000000,0.000000,11.000000
50%,22.000000,1.000000,1.000000,59970.000000,59885.000000,0.000000,52.000000
75%,43.000000,1.000000,1.000000,80000.000000,80000.000000,0.000000,76.000000
max,333.000000,6.000000,9.000000,97436.000000,95870.000000,9.000000,94.000000

In [5]:
df.shape

(10000, 99)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 99 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   N°DPE                                           10000 non-null  object
 1   Date_réception_DPE                              10000 non-null  object
 2   Date_établissement_DPE                          10000 non-null  object
 3   Date_visite_diagnostiqueur                      10000 non-null  object
 4   Modèle_DPE                                      10000 non-null  object
 5   N°_DPE_remplacé                                 110 non-null    object
 6   Date_fin_validité_DPE                           10000 non-null  object
 7   Version_DPE                                     10000 non-null  object
 8   Appartement_non_visité_(0/1)                    8988 non-null   object
 9   Méthode_application_DPE                         10000 non-null  object
 10  Invariant_fiscal_logement                       838 non-null    object
 11  Etiquette_DPE                                   10000 non-null  object
 12  Etiquette_GES                                   10000 non-null  object
 13  Type_bâtiment                                   10000 non-null  object
 14  Type_installation_chauffage                     6783 non-null   object
 15  Type_installation_ECS_(général)                 6783 non-null   object
 16  Hauteur_sous-plafond                            10000 non-null  object
 17  Nombre_appartement                              8933 non-null   float64
 18  Nombre_niveau_immeuble                          8812 non-null   float64
 19  Nombre_niveau_logement                          8499 non-null   float64
 20  Surface_habitable_immeuble                      8772 non-null   object
 21  Surface_habitable_logement                      9955 non-null   object
 22  Typologie_logement                              1495 non-null   object
 23  Position_logement_dans_immeuble                 1495 non-null   object
 24  Classe_altitude                                 2751 non-null   object
 25  Zone_climatique_                                2751 non-null   object
 26  Adresse_brute                                   9999 non-null   object
 27  Nom__commune_(BAN)                              9947 non-null   object
 28  Code_INSEE_(BAN)                                9947 non-null   object
 29  N°_voie_(BAN)                                   4499 non-null   object
 30  Identifiant__BAN                                9947 non-null   object
 31  Adresse_(BAN)                                   9947 non-null   object
 32  Code_postal_(BAN)                               9947 non-null   float64
 33  Score_BAN                                       9947 non-null   object
 34  Nom__rue_(BAN)                                  7950 non-null   object
 35  Coordonnée_cartographique_X_(BAN)               9947 non-null   object
 36  Coordonnée_cartographique_Y_(BAN)               9947 non-null   object
 37  Code_postal_(brut)                              10000 non-null  int64
 38  N°_étage_appartement                            2372 non-null   float64
 39  Nom_résidence                                   192 non-null    object
 40  Complément_d'adresse_logement                   651 non-null    object
 41  Statut_géocodage                                10000 non-null  object
 42  Nom__commune_(Brut)                             9992 non-null   object
 43  N°_département_(BAN)                            9942 non-null   object
 44  N°_région_(BAN)                                 9942 non-null   float64
 45  Conso_5_usages_é_finale                         10000 non-null  object
 46  Conso_5_usages/m²_é_finale                      10000 non-null  object
 47  Conso_chauffage_é_finale                        10000 non-null  object
 48  Conso_chauffage_dépensier_é_finale              10000 non-null  object
 49  Conso_éclairage_é_finale                        10000 non-null  object
 50  Conso_ECS_é_finale                              10000 non-null  object
 51  Conso_ECS_dépensier_é_finale                    10000 non-null  object
 52  Conso_refroidissement_é_finale                  10000 non-null  object
 53  Conso_refroidissement_dépensier_é_finale        10000 non-null  object
 54  Conso_auxiliaires_é_finale                      10000 non-null  object
 55  Conso_5_usages_é_primaire                       10000 non-null  object
 56  Conso_5_usages_par_m²_é_primaire                10000 non-null  object
 57  Conso_chauffage_é_primaire                      10000 non-null  object
 58  Conso_chauffage_dépensier_é_primaire            10000 non-null  object
 59  Conso_éclairage_é_primaire                      10000 non-null  object
 60  Conso_ECS_é_primaire                            10000 non-null  object
 61  Conso_ECS_dépensier_é_primaire                  10000 non-null  object
 62  Conso_refroidissement_é_primaire                10000 non-null  object
 63  Conso_refroidissement_dépensier_é_primaire      10000 non-null  object
 64  Conso_auxiliaires_é_primaire                    10000 non-null  object
 65  Emission_GES_5_usages                           10000 non-null  object
 66  Emission_GES_5_usages_par_m²                    10000 non-null  object
 67  Emission_GES_chauffage                          10000 non-null  object
 68  Emission_GES_chauffage_dépensier                10000 non-null  object
 69  Emission_GES_éclairage                          10000 non-null  object
 70  Emission_GES_ECS                                10000 non-null  object
 71  Emission_GES_ECS_dépensier                      10000 non-null  object
 72  Emission_GES_refroidissement                    10000 non-null  object
 73  Emission_GES_refroidissement_dépensier          10000 non-null  object
 74  Emission_GES_auxiliaires                        10000 non-null  object
 75  Coût_chauffage_énergie_n°1                      10000 non-null  object
 76  Coût_ECS_énergie_n°1                            10000 non-null  object
 77  Emission_GES_5_usages_énergie_n°1               10000 non-null  object
 78  Type_énergie_n°1                                10000 non-null  object
 79  Coût_chauffage_énergie_n°2                      7303 non-null   object
 80  Coût_ECS_énergie_n°2                            7303 non-null   object
 81  Emission_GES_5_usages_énergie_n°2               7303 non-null   object
 82  Type_énergie_n°2                                7303 non-null   object
 83  Coût_total_5_usages                             10000 non-null  object
 84  Coût_chauffage                                  10000 non-null  object
 85  Coût_chauffage_dépensier                        10000 non-null  object
 86  Coût_éclairage                                  10000 non-null  object
 87  Coût_ECS_dépensier                              10000 non-null  object
 88  Coût_ECS                                        10000 non-null  object
 89  Coût_refroidissement                            10000 non-null  object
 90  Coût_refroidissement_dépensier                  10000 non-null  object
 91  Coût_auxiliaires                                10000 non-null  object
 92  Qualité_isolation_enveloppe                     10000 non-null  object
 93  Qualité_isolation_menuiseries                   10000 non-null  object
 94  Qualité_isolation_murs                          10000 non-null  object
 95  Qualité_isolation_plancher_bas                  9982 non-null   object
 96  Ubat_W/m²_K                                     10000 non-null  object
 97  Qualité_isolation_plancher_haut_comble_aménagé  610 non-null    object
 98  Catégorie_ENR                                   1221 non-null   object
dtypes: float64(6), int64(1), object(92)
memory usage: 7.6+ MB

In [7]:
df.isna().sum()

N°DPE                                                0
Date_réception_DPE                                   0
Date_établissement_DPE                               0
Date_visite_diagnostiqueur                           0
Modèle_DPE                                           0
                                                  ...
Qualité_isolation_murs                               0
Qualité_isolation_plancher_bas                      18
Ubat_W/m²_K                                          0
Qualité_isolation_plancher_haut_comble_aménagé    9390
Catégorie_ENR                                     8779
Length: 99, dtype: int64

**Remove columns with Nan values**

In [60]:
columns_values = df.isna().sum().values

drop_columns_index = [i for i, val in enumerate(columns_values) if val > 9900]

print(len(drop_columns_index))

0

In [9]:
# def removeNuffs(dataframe, axis = 1, percent = 0.3):
#     df = dataframe.copy()
#     ishape = 0
#     if axis == 0:
#         rownames = df.transpose().isnull().sum()
#         rownames = list(rownames[rownames.values > percent*len(df)].index)
#         df.drop(df.index[rownames], inplace=True)
#         print("Number of rows dropped : ", len(rownames))
#     else:
#         colnames = (df.isnull().sum()/len(df))
#         colnames = list(colnames[colnames.values>=percent].index)
#         df.drop(labels = colnames, axis = 1, inplace = True)
#         print("Number of columns dropped : ", len(colnames))
#     print("Old dataset rows, columns ", ishape, " New dataset rows, columns ", df.shape)

In [10]:
df_test = df.copy()
ishape = 0
percent = 0.3

colnames = (df_test.isnull().sum()/len(df_test))
colnames = list(colnames[colnames.values>=percent].index)

# print(type(colnames))
# print(len(colnames))
# print(colnames)

In [11]:
df_test.drop(labels = colnames, axis = 1, inplace = True)

In [12]:
#df_data = df.drop(df.columns[drop_columns_index],axis = 1)

In [13]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 85 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   N°DPE                                       10000 non-null  object
 1   Date_réception_DPE                          10000 non-null  object
 2   Date_établissement_DPE                      10000 non-null  object
 3   Date_visite_diagnostiqueur                  10000 non-null  object
 4   Modèle_DPE                                  10000 non-null  object
 5   Date_fin_validité_DPE                       10000 non-null  object
 6   Version_DPE                                 10000 non-null  object
 7   Appartement_non_visité_(0/1)                8988 non-null   object
 8   Méthode_application_DPE                     10000 non-null  object
 9   Etiquette_DPE                               10000 non-null  object
 10  Etiquette_GES                               10000 non-null  object
 11  Type_bâtiment                               10000 non-null  object
 12  Hauteur_sous-plafond                        10000 non-null  object
 13  Nombre_appartement                          8933 non-null   float64
 14  Nombre_niveau_immeuble                      8812 non-null   float64
 15  Nombre_niveau_logement                      8499 non-null   float64
 16  Surface_habitable_immeuble                  8772 non-null   object
 17  Surface_habitable_logement                  9955 non-null   object
 18  Adresse_brute                               9999 non-null   object
 19  Nom__commune_(BAN)                          9947 non-null   object
 20  Code_INSEE_(BAN)                            9947 non-null   object
 21  Identifiant__BAN                            9947 non-null   object
 22  Adresse_(BAN)                               9947 non-null   object
 23  Code_postal_(BAN)                           9947 non-null   float64
 24  Score_BAN                                   9947 non-null   object
 25  Nom__rue_(BAN)                              7950 non-null   object
 26  Coordonnée_cartographique_X_(BAN)           9947 non-null   object
 27  Coordonnée_cartographique_Y_(BAN)           9947 non-null   object
 28  Code_postal_(brut)                          10000 non-null  int64
 29  Statut_géocodage                            10000 non-null  object
 30  Nom__commune_(Brut)                         9992 non-null   object
 31  N°_département_(BAN)                        9942 non-null   object
 32  N°_région_(BAN)                             9942 non-null   float64
 33  Conso_5_usages_é_finale                     10000 non-null  object
 34  Conso_5_usages/m²_é_finale                  10000 non-null  object
 35  Conso_chauffage_é_finale                    10000 non-null  object
 36  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 37  Conso_éclairage_é_finale                    10000 non-null  object
 38  Conso_ECS_é_finale                          10000 non-null  object
 39  Conso_ECS_dépensier_é_finale                10000 non-null  object
 40  Conso_refroidissement_é_finale              10000 non-null  object
 41  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 42  Conso_auxiliaires_é_finale                  10000 non-null  object
 43  Conso_5_usages_é_primaire                   10000 non-null  object
 44  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 45  Conso_chauffage_é_primaire                  10000 non-null  object
 46  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 47  Conso_éclairage_é_primaire                  10000 non-null  object
 48  Conso_ECS_é_primaire                        10000 non-null  object
 49  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 50  Conso_refroidissement_é_primaire            10000 non-null  object
 51  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 52  Conso_auxiliaires_é_primaire                10000 non-null  object
 53  Emission_GES_5_usages                       10000 non-null  object
 54  Emission_GES_5_usages_par_m²                10000 non-null  object
 55  Emission_GES_chauffage                      10000 non-null  object
 56  Emission_GES_chauffage_dépensier            10000 non-null  object
 57  Emission_GES_éclairage                      10000 non-null  object
 58  Emission_GES_ECS                            10000 non-null  object
 59  Emission_GES_ECS_dépensier                  10000 non-null  object
 60  Emission_GES_refroidissement                10000 non-null  object
 61  Emission_GES_refroidissement_dépensier      10000 non-null  object
 62  Emission_GES_auxiliaires                    10000 non-null  object
 63  Coût_chauffage_énergie_n°1                  10000 non-null  object
 64  Coût_ECS_énergie_n°1                        10000 non-null  object
 65  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 66  Type_énergie_n°1                            10000 non-null  object
 67  Coût_chauffage_énergie_n°2                  7303 non-null   object
 68  Coût_ECS_énergie_n°2                        7303 non-null   object
 69  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 70  Type_énergie_n°2                            7303 non-null   object
 71  Coût_total_5_usages                         10000 non-null  object
 72  Coût_chauffage                              10000 non-null  object
 73  Coût_chauffage_dépensier                    10000 non-null  object
 74  Coût_éclairage                              10000 non-null  object
 75  Coût_ECS_dépensier                          10000 non-null  object
 76  Coût_ECS                                    10000 non-null  object
 77  Coût_refroidissement                        10000 non-null  object
 78  Coût_refroidissement_dépensier              10000 non-null  object
 79  Coût_auxiliaires                            10000 non-null  object
 80  Qualité_isolation_enveloppe                 10000 non-null  object
 81  Qualité_isolation_menuiseries               10000 non-null  object
 82  Qualité_isolation_murs                      10000 non-null  object
 83  Qualité_isolation_plancher_bas              9982 non-null   object
 84  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 6.5+ MB

In [14]:
list_columns = list(df_test.columns.values.tolist())

print(len(list_columns))

85

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 85 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   N°DPE                                       10000 non-null  object
 1   Date_réception_DPE                          10000 non-null  object
 2   Date_établissement_DPE                      10000 non-null  object
 3   Date_visite_diagnostiqueur                  10000 non-null  object
 4   Modèle_DPE                                  10000 non-null  object
 5   Date_fin_validité_DPE                       10000 non-null  object
 6   Version_DPE                                 10000 non-null  object
 7   Appartement_non_visité_(0/1)                8988 non-null   object
 8   Méthode_application_DPE                     10000 non-null  object
 9   Etiquette_DPE                               10000 non-null  object
 10  Etiquette_GES                               10000 non-null  object
 11  Type_bâtiment                               10000 non-null  object
 12  Hauteur_sous-plafond                        10000 non-null  object
 13  Nombre_appartement                          8933 non-null   float64
 14  Nombre_niveau_immeuble                      8812 non-null   float64
 15  Nombre_niveau_logement                      8499 non-null   float64
 16  Surface_habitable_immeuble                  8772 non-null   object
 17  Surface_habitable_logement                  9955 non-null   object
 18  Adresse_brute                               9999 non-null   object
 19  Nom__commune_(BAN)                          9947 non-null   object
 20  Code_INSEE_(BAN)                            9947 non-null   object
 21  Identifiant__BAN                            9947 non-null   object
 22  Adresse_(BAN)                               9947 non-null   object
 23  Code_postal_(BAN)                           9947 non-null   float64
 24  Score_BAN                                   9947 non-null   object
 25  Nom__rue_(BAN)                              7950 non-null   object
 26  Coordonnée_cartographique_X_(BAN)           9947 non-null   object
 27  Coordonnée_cartographique_Y_(BAN)           9947 non-null   object
 28  Code_postal_(brut)                          10000 non-null  int64
 29  Statut_géocodage                            10000 non-null  object
 30  Nom__commune_(Brut)                         9992 non-null   object
 31  N°_département_(BAN)                        9942 non-null   object
 32  N°_région_(BAN)                             9942 non-null   float64
 33  Conso_5_usages_é_finale                     10000 non-null  object
 34  Conso_5_usages/m²_é_finale                  10000 non-null  object
 35  Conso_chauffage_é_finale                    10000 non-null  object
 36  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 37  Conso_éclairage_é_finale                    10000 non-null  object
 38  Conso_ECS_é_finale                          10000 non-null  object
 39  Conso_ECS_dépensier_é_finale                10000 non-null  object
 40  Conso_refroidissement_é_finale              10000 non-null  object
 41  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 42  Conso_auxiliaires_é_finale                  10000 non-null  object
 43  Conso_5_usages_é_primaire                   10000 non-null  object
 44  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 45  Conso_chauffage_é_primaire                  10000 non-null  object
 46  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 47  Conso_éclairage_é_primaire                  10000 non-null  object
 48  Conso_ECS_é_primaire                        10000 non-null  object
 49  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 50  Conso_refroidissement_é_primaire            10000 non-null  object
 51  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 52  Conso_auxiliaires_é_primaire                10000 non-null  object
 53  Emission_GES_5_usages                       10000 non-null  object
 54  Emission_GES_5_usages_par_m²                10000 non-null  object
 55  Emission_GES_chauffage                      10000 non-null  object
 56  Emission_GES_chauffage_dépensier            10000 non-null  object
 57  Emission_GES_éclairage                      10000 non-null  object
 58  Emission_GES_ECS                            10000 non-null  object
 59  Emission_GES_ECS_dépensier                  10000 non-null  object
 60  Emission_GES_refroidissement                10000 non-null  object
 61  Emission_GES_refroidissement_dépensier      10000 non-null  object
 62  Emission_GES_auxiliaires                    10000 non-null  object
 63  Coût_chauffage_énergie_n°1                  10000 non-null  object
 64  Coût_ECS_énergie_n°1                        10000 non-null  object
 65  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 66  Type_énergie_n°1                            10000 non-null  object
 67  Coût_chauffage_énergie_n°2                  7303 non-null   object
 68  Coût_ECS_énergie_n°2                        7303 non-null   object
 69  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 70  Type_énergie_n°2                            7303 non-null   object
 71  Coût_total_5_usages                         10000 non-null  object
 72  Coût_chauffage                              10000 non-null  object
 73  Coût_chauffage_dépensier                    10000 non-null  object
 74  Coût_éclairage                              10000 non-null  object
 75  Coût_ECS_dépensier                          10000 non-null  object
 76  Coût_ECS                                    10000 non-null  object
 77  Coût_refroidissement                        10000 non-null  object
 78  Coût_refroidissement_dépensier              10000 non-null  object
 79  Coût_auxiliaires                            10000 non-null  object
 80  Qualité_isolation_enveloppe                 10000 non-null  object
 81  Qualité_isolation_menuiseries               10000 non-null  object
 82  Qualité_isolation_murs                      10000 non-null  object
 83  Qualité_isolation_plancher_bas              9982 non-null   object
 84  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(5), int64(1), object(79)
memory usage: 6.5+ MB

In [29]:
delete_columns = ['N°DPE', 'Date_réception_DPE', 'Date_établissement_DPE', 'Date_visite_diagnostiqueur',
               'Date_fin_validité_DPE', 'Adresse_brute', 'Nom__commune_(BAN)', 'Code_INSEE_(BAN)', 'N°_région_(BAN)',
                'Identifiant__BAN', 'Adresse_(BAN)', 'Code_postal_(BAN)', 'Nom__rue_(BAN)', 'Coordonnée_cartographique_X_(BAN)',
                'Coordonnée_cartographique_Y_(BAN)', 'Code_postal_(brut)', 'N°_département_(BAN)', 'Statut_géocodage',
                'Nom__commune_(Brut)', 'N°_département_(BAN)', 'N°_région_(BAN)']

In [30]:
df_test.drop(labels = delete_columns, axis = 1, inplace = True)

df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 66 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Modèle_DPE                                  10000 non-null  object
 1   Version_DPE                                 10000 non-null  object
 2   Appartement_non_visité_(0/1)                8988 non-null   object
 3   Méthode_application_DPE                     10000 non-null  object
 4   Etiquette_DPE                               10000 non-null  object
 5   Etiquette_GES                               10000 non-null  object
 6   Type_bâtiment                               10000 non-null  object
 7   Hauteur_sous-plafond                        10000 non-null  object
 8   Nombre_appartement                          8933 non-null   float64
 9   Nombre_niveau_immeuble                      8812 non-null   float64
 10  Nombre_niveau_logement                      8499 non-null   float64
 11  Surface_habitable_immeuble                  8772 non-null   object
 12  Surface_habitable_logement                  9955 non-null   object
 13  Score_BAN                                   9947 non-null   object
 14  Conso_5_usages_é_finale                     10000 non-null  object
 15  Conso_5_usages/m²_é_finale                  10000 non-null  object
 16  Conso_chauffage_é_finale                    10000 non-null  object
 17  Conso_chauffage_dépensier_é_finale          10000 non-null  object
 18  Conso_éclairage_é_finale                    10000 non-null  object
 19  Conso_ECS_é_finale                          10000 non-null  object
 20  Conso_ECS_dépensier_é_finale                10000 non-null  object
 21  Conso_refroidissement_é_finale              10000 non-null  object
 22  Conso_refroidissement_dépensier_é_finale    10000 non-null  object
 23  Conso_auxiliaires_é_finale                  10000 non-null  object
 24  Conso_5_usages_é_primaire                   10000 non-null  object
 25  Conso_5_usages_par_m²_é_primaire            10000 non-null  object
 26  Conso_chauffage_é_primaire                  10000 non-null  object
 27  Conso_chauffage_dépensier_é_primaire        10000 non-null  object
 28  Conso_éclairage_é_primaire                  10000 non-null  object
 29  Conso_ECS_é_primaire                        10000 non-null  object
 30  Conso_ECS_dépensier_é_primaire              10000 non-null  object
 31  Conso_refroidissement_é_primaire            10000 non-null  object
 32  Conso_refroidissement_dépensier_é_primaire  10000 non-null  object
 33  Conso_auxiliaires_é_primaire                10000 non-null  object
 34  Emission_GES_5_usages                       10000 non-null  object
 35  Emission_GES_5_usages_par_m²                10000 non-null  object
 36  Emission_GES_chauffage                      10000 non-null  object
 37  Emission_GES_chauffage_dépensier            10000 non-null  object
 38  Emission_GES_éclairage                      10000 non-null  object
 39  Emission_GES_ECS                            10000 non-null  object
 40  Emission_GES_ECS_dépensier                  10000 non-null  object
 41  Emission_GES_refroidissement                10000 non-null  object
 42  Emission_GES_refroidissement_dépensier      10000 non-null  object
 43  Emission_GES_auxiliaires                    10000 non-null  object
 44  Coût_chauffage_énergie_n°1                  10000 non-null  object
 45  Coût_ECS_énergie_n°1                        10000 non-null  object
 46  Emission_GES_5_usages_énergie_n°1           10000 non-null  object
 47  Type_énergie_n°1                            10000 non-null  object
 48  Coût_chauffage_énergie_n°2                  7303 non-null   object
 49  Coût_ECS_énergie_n°2                        7303 non-null   object
 50  Emission_GES_5_usages_énergie_n°2           7303 non-null   object
 51  Type_énergie_n°2                            7303 non-null   object
 52  Coût_total_5_usages                         10000 non-null  object
 53  Coût_chauffage                              10000 non-null  object
 54  Coût_chauffage_dépensier                    10000 non-null  object
 55  Coût_éclairage                              10000 non-null  object
 56  Coût_ECS_dépensier                          10000 non-null  object
 57  Coût_ECS                                    10000 non-null  object
 58  Coût_refroidissement                        10000 non-null  object
 59  Coût_refroidissement_dépensier              10000 non-null  object
 60  Coût_auxiliaires                            10000 non-null  object
 61  Qualité_isolation_enveloppe                 10000 non-null  object
 62  Qualité_isolation_menuiseries               10000 non-null  object
 63  Qualité_isolation_murs                      10000 non-null  object
 64  Qualité_isolation_plancher_bas              9982 non-null   object
 65  Ubat_W/m²_K                                 10000 non-null  object
dtypes: float64(3), object(63)
memory usage: 5.0+ MB

**Columns missing values**

In [65]:
na_values_columns = ['Appartement_non_visité_(0/1)', 'Nombre_appartement', 'Nombre_niveau_immeuble', 'Nombre_niveau_logement',
                     'Surface_habitable_immeuble', 'Score_BAN', 'Coût_chauffage_énergie_n°2', 'Coût_ECS_énergie_n°2', 
                     'Type_énergie_n°2', 'Type_énergie_n°2']

df_na_values = df_test[na_values_columns]

In [66]:
print(df_na_values['Appartement_non_visité_(0/1)'].isna().sum())

print(df_na_values['Appartement_non_visité_(0/1)'].value_counts())

df_na_values['Appartement_non_visité_(0/1)'] = df_na_values['Appartement_non_visité_(0/1)'].fillna('FAUX')

#df['DataFrame Column'].replace(np.nan, 0)

1012
Appartement_non_visité_(0/1)
FAUX    8007
VRAI     981
Name: count, dtype: int64

/tmp/ipykernel_5917/4217200662.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Appartement_non_visité_(0/1)'] = df_na_values['Appartement_non_visité_(0/1)'].fillna('FAUX')

In [67]:
print(df_na_values['Appartement_non_visité_(0/1)'].isna().sum())

0

In [68]:
df_na_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Appartement_non_visité_(0/1)  10000 non-null  object
 1   Nombre_appartement            8933 non-null   float64
 2   Nombre_niveau_immeuble        8812 non-null   float64
 3   Nombre_niveau_logement        8499 non-null   float64
 4   Surface_habitable_immeuble    8772 non-null   object
 5   Score_BAN                     9947 non-null   object
 6   Coût_chauffage_énergie_n°2    7303 non-null   object
 7   Coût_ECS_énergie_n°2          7303 non-null   object
 8   Type_énergie_n°2              7303 non-null   object
 9   Type_énergie_n°2              7303 non-null   object
dtypes: float64(3), object(7)
memory usage: 781.4+ KB

In [69]:
df_na_values['Nombre_appartement'] = df_na_values['Nombre_appartement'].fillna(df_na_values['Nombre_appartement'].mean())

/tmp/ipykernel_5917/2047869160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_appartement'] = df_na_values['Nombre_appartement'].fillna(df_na_values['Nombre_appartement'].mean())

In [70]:
print(df_na_values['Nombre_niveau_immeuble'].isna().sum())

print(df_na_values['Nombre_niveau_immeuble'].value_counts())

df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

1188
Nombre_niveau_immeuble
1.0    8800
3.0       5
2.0       4
4.0       1
5.0       1
6.0       1
Name: count, dtype: int64

/tmp/ipykernel_5917/3688349026.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

In [73]:
print(df_na_values['Nombre_niveau_logement'].isna().sum())

print(df_na_values['Nombre_niveau_logement'].value_counts())

df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

1501
Nombre_niveau_logement
1.0    8232
2.0      91
4.0      83
3.0      40
5.0      27
6.0      20
9.0       5
7.0       1
Name: count, dtype: int64

/tmp/ipykernel_5917/3052973000.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_na_values['Nombre_niveau_immeuble'] = df_na_values['Nombre_niveau_immeuble'].fillna(1.0)

In [75]:
print(df_na_values['Surface_habitable_immeuble'].isna().sum())

print(df_na_values['Surface_habitable_immeuble'].value_counts())

df_na_values['Surface_habitable_immeuble'].describe()

1228
Surface_habitable_immeuble
6450,6    38
7188,5    34
6249,7    27
4441,7    25
5318,4    24
          ..
626,5      1
799,1      1
1076,3     1
195,8      1
672,4      1
Name: count, Length: 3075, dtype: int64

count       8772
unique      3075
top       6450,6
freq          38
Name: Surface_habitable_immeuble, dtype: object

In [27]:
#df_test['Nom__commune_(BAN)'].value_counts()

In [17]:
#df_data.columns[0:20]

In [18]:
#list_columns = ['N°DPE', 'Date_réception_DPE', 'Date_établissement_DPE', 'Date_visite_diagnostiqueur',
#               'Date_fin_validité_DPE', 'Adresse_brute', '', '', '', '', '', '', '']

# Columns delete
# N°_DPE_remplacé,

In [19]:
# df1 = df_data[['N°DPE', 'Date_réception_DPE', 'Date_établissement_DPE',
#        'Date_visite_diagnostiqueur', 'Modèle_DPE', 'N°_DPE_remplacé',
#        'Date_fin_validité_DPE', 'Version_DPE', 'Appartement_non_visité_(0/1)',
#        'Méthode_application_DPE']]

# df1.info()

In [20]:
#df1.isna().sum()

In [21]:
#df1['Appartement_non_visité_(0/1)'].value_counts()

In [22]:
#df1['Appartement_non_visité_(0/1)'].unique()

In [23]:
#df1['Appartement_non_visité_(0/1)'] = df1['Appartement_non_visité_(0/1)'].fillna('FAUX')

In [24]:
#df1['Appartement_non_visité_(0/1)'].value_counts()